*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  &.-no-scroll, &.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: $global-font-size;
}

body {
  background: $body-background;

  font-family: $body-font-family;
  font-weight: $global-weight-normal;
  line-height: $global-lineheight;
  color: $body-font-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.-dragging * {
    cursor: -webkit-grabbing;
  }

  &.-loading:after {
    content: "loading...";
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: $body-font-color;
    background: $body-background;
    z-index: 9999;
  }
}

hr {
  margin: 50px 0;
  border-top: 1px solid #CBCCD0;
}

a {
  color: $body-font-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  // Get rid of gap under images by making them display: inline-block; by default
  display: inline-block;
  vertical-align: middle;

  // Grid defaults to get images and embeds to work properly
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  margin-top: 0;
  color: $header-font-color;

  & > a {
    color: $header-font-color;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: $font-size-h1 * 0.5;

  font-size: $font-size-h1 / 2;
  font-weight: 300;
  line-height: 1;
  color: $body-font-color;
}

h2 {
  font-size: $font-size-h2 / 2;
  font-weight: 300;
  line-height: 1.1;

  margin-bottom: $font-size-h2 * 0.5;
}

h3 {
  font-size: $body-font-size;
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: $font-size-h3 * 0.5;
}

h4 {
  font-size: $font-size-h4;
  font-weight: bold;
  color: $body-font-color;
  margin-bottom: 1rem;
  line-height: 1.3;

  & > a {
    color: $body-font-color;
  }
}

p {
  margin-top: 0;

  > a {
    color: $link-font-color;
    text-decoration: underline;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

input, button, select, textarea {
  font-family: $body-font-family;
  font-size: $font-size-normal;
}

.-claim {
  font-size: $font-size-h2;
  font-weight: 300;
  line-height: 1.2;
}

.-big {
  font-size: $font-size-big;
  line-height: 1.33;
}

.-text-center {
  text-align: center;
}

.-dragger {
  cursor: move;
}

.-columnize {
  @media screen and (min-width: map-get($breakpoints, medium)) {
    columns: 2;
    column-gap: 50px;
  }
}

@media screen and (min-width: map-get($breakpoints, medium)) {
  h1 {
    font-size: $font-size-h1;
  }

  h2 {
    font-size: $font-size-h2;
  }

  h3 {
    font-size: $font-size-h3;
    font-weight: 300;
  }

  h4 {
    font-size: $font-size-h4;
  }
}


ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
