
// Breakpoints
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large);

//  Grid
$grid-row-width: 1040px;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 10px,
  medium: 30px,
);
$block-grid-max: 8;

