@import "css/settings";

// Reset
@import "normalize.css";

// Foundation
@import '../node_modules/foundation-sites/scss/foundation';
@import 'foundation_settings';
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-responsive-embed;

// Leaflet
@import 'leaflet/dist/leaflet.css';

// React input range
@import 'react-input-range/lib/css/index.css';

// Slick
@import 'slick-carousel/slick/slick.scss';
@import 'slick-carousel/slick/slick-theme.scss';

// Common files
@import "css/base";
@import "css/layouts";

// Components
// UI
@import "./components/ui/aside";
@import "./components/ui/avatar";
@import "./components/ui/button";
@import "./components/ui/button-container";
@import "./components/ui/compound_menu";
@import "./components/ui/custom_select";
@import "./components/ui/header-dropdown";
@import "./components/ui/icon";
@import "./components/ui/legend";
@import "./components/ui/modal";
@import "./components/ui/paginator";
@import "./components/ui/spinner";
@import "./components/ui/switch";
@import "./components/ui/table";
@import "./components/ui/table_header_actions";
@import "./components/ui/table_tooltip";
@import "./components/ui/tabs";
@import "./components/ui/title";
@import "./components/ui/modal";
@import "./components/ui/tooltip";
@import "./components/ui/tooltip-global";
@import "./components/ui/zoom_control";
@import "./components/ui/breadcrumbs";

// VIS
@import "./components/vis/globe";
@import "./components/vis/map";

// Form
@import "./components/form/form";
@import "./components/form/field";
@import "./components/form/field-container";
@import "./components/form/field-buttons";
@import "./components/form/checkbox";
@import "./components/form/radio";
@import "./components/form/select";
@import "./components/form/token";

// WIDGETS
@import "./components/widgets/widget_editor";
@import "./components/widgets/columnbox";
@import "./components/widgets/column_container";
@import "./components/widgets/dimensions_container";
@import "./components/widgets/filter_container";
@import "./components/widgets/filter_tooltip";
@import "./components/widgets/aggregate_function_tooltip";
@import "./components/widgets/order_by_tooltip";
@import "./components/widgets/chart_editor";
@import "./components/widgets/map_editor";
@import "./components/widgets/fields_container";
@import "./components/widgets/sort_container";
@import "./components/widgets/table_view";


// ================== ADMIN ======================

// Datasets
@import "./components/admin/dataset/datasets_index";
@import "./components/admin/dataset/card";
@import "./components/admin/dataset/filter";
@import "./components/admin/dataset/filter-item";
@import "./components/admin/dataset/list";

// Widgets
@import "./components/admin/widget/card";
@import "./components/admin/widget/list";
@import "./components/admin/widget/chart";
@import "./components/admin/widget/widget_chart";
@import "./components/admin/widget/placeholder_chart";
@import "./components/admin/widget/layer_chart";
@import "./components/admin/widget/widget_index";

// Vocabularies
@import "./components/admin/vocabularies/vocabulary_item";
@import "./components/admin/vocabularies/vocabularies_form";

// ================== APP ======================

// COMMON
@import "./components/app/common/banner";
@import "./components/app/common/btn";
@import "./components/app/common/rating";
@import "./components/app/common/text";
@import "./components/app/common/viel";
@import "./components/app/common/card_static";
@import "./components/app/common/partner_block";

// PAGES
@import "./components/app/pages/explore";
@import "./components/app/pages/explore_detail";
@import "./components/app/pages/about";
@import "./components/app/pages/pulse";
@import "./components/app/pages/home";
@import "./components/app/pages/partners";
@import "./components/app/pages/submit_insight";
@import "./components/app/pages/partner_detail";
@import "./components/app/pages/getInvolved";
@import "./components/app/pages/develop_app";
@import "./components/app/pages/apps";
@import "./components/app/pages/p-app-detail";


// LAYOUT
@import "./components/app/layout/page";
@import "./components/app/layout/page-header";
@import "./components/app/layout/page-section";
@import "./components/app/layout/footer";
@import "./components/app/layout/sidebar";
@import "./components/app/layout/header";

// PULSE
@import "./components/app/pulse/globe_tooltip";
@import "./components/app/pulse/layer_nav_dropdown";
@import "./components/app/pulse/layer_nav";
@import "./components/app/pulse/layer_card";
@import "./components/app/pulse/legend_type";
@import "./components/app/pulse/legend";

// EXPLORE
@import "./components/app/explore/configurable_widget";
@import "./components/app/explore/dataset_list_header";
@import "./components/app/explore/dataset_list";
@import "./components/app/explore/dataset_widget";
@import "./components/app/explore/dataset_placeholder_chart";
@import "./components/app/explore/widget_configurator";

// EXPLORE DETAIL
@import "./components/app/explore-detail/dataset-info";

// MyRW
// @import "./components/app/pages/myrw/activity";
@import "./components/app/pages/myrw/myrw_edit_profile";
@import "./components/app/pages/myrw/myrw_subscriptions";
@import "./components/app/pages/myrw/myrw_widgets";
