@tailwind base;
@tailwind components;
@tailwind utilities;

@import "settings";

@import '~react-progress-2/main';
@import '~react-redux-toastr/lib/css/react-redux-toastr.min';
@import '~react-input-range/lib/css/index';
@import '~vizzuality-components/dist/bundle';


@import '~react-quill/dist/quill.snow';


@import "base";
@import "mixins";
@import "layouts/container",
  "layouts/page",
  "layouts/error",
  "layouts/section",
  "layouts/content",
  "layouts/postcontent",
  "layouts/row",
  "layouts/footer",
  "layouts/sidebar",
  "layouts/static",
  "layouts/ocean-watch",
  "layouts/_coral-reefs-dashboard";

@import "./components/ui/aside";
@import "./components/ui/avatar";
@import "./components/ui/breadcrumbs";
@import "./components/ui/button";
@import "./components/ui/button-container";
@import "./components/ui/card";
@import "./components/ui/card-app";
@import "./components/ui/compound_menu";
@import "./components/ui/contact-us";
@import "./components/ui/custom_select";
@import "./components/ui/dock";
@import "./components/ui/header-dropdown";
@import "./components/ui/legend";
@import "./components/ui/legend-timeline";
@import "./components/ui/markdown";
@import "./components/ui/modal";
@import "./components/ui/modal2";
@import "./components/ui/paginator";
@import "./components/ui/progress-bar";
@import "./components/ui/related-content";
@import "./components/ui/search";
@import "./components/ui/search-input";
@import "./components/ui/slider-tooltip";
@import "./components/ui/spinner";
@import "./components/ui/switch-options";
@import "./components/ui/switch";
@import "./components/ui/table";
@import "./components/ui/table_header_actions";
@import "./components/ui/table_tooltip";
@import "./components/ui/tabs";
@import "./components/ui/tag";
@import "./components/ui/tag-list";
@import "./components/ui/terms";
@import "./components/ui/title";
@import "./components/ui/tooltip";
@import "./components/ui/rc-tooltip";
@import "./components/ui/tooltip-global";
@import "./components/ui/tree_selector";
@import "./components/ui/user-report";
@import "./components/ui/dataset-table";
@import "./components/ui/browser";


@import "./components/modal/credits_modal";
@import "./components/modal/save_widget_modal";
@import "./components/modal/how_to_widget_editor_modal";
@import "./components/modal/embed_my_widget_modal";
@import "./components/modal/share_modal_explore";
@import "./components/modal/embed_layer_modal";
@import "./components/modal/embed_table_modal";
@import "./components/modal/subscribe_to_dataset_modal";
@import "./components/modal/area_subscription_modal";
@import "./components/modal/subscriptions_modal";
@import "./components/modal/alerts_preview";


@import "./components/areas/areas_form";


@import "./components/collections/collections-panel";

@import './components/datasets/list';
@import './components/datasets/list-item';
@import './components/datasets/search';

@import "./components/subscriptions/subscriptions_form";
@import "./components/subscriptions/subscription_selector";

@import "./components/vis/globe";

@import "./components/map/map";
@import "./components/map/map-swipe";
@import "./components/map/map-popup";
@import './components/map/map-side-by-side-layout';
@import './components/map/map-side-by-side-range';

@import '~@vizzuality/wysiwyg/build/rw';
@import "./components/form/form";
@import "./components/form/field";
@import "./components/form/field-container";
@import "./components/form/field-buttons";
@import "./components/form/file";
@import "./components/form/file-image";
@import "./components/form/checkbox";
@import "./components/form/radio";
@import "./components/form/select";
@import "./components/form/token";
@import "./components/form/toggle-search";
@import "./components/form/wysiwyg";


@import "./components/widgets/add_widget_to_collection_tooltip";
@import "./components/widgets/text_chart";
@import "./components/widgets/widget_editor";
@import "./components/widgets/columnbox";
@import "./components/widgets/column_container";
@import "./components/widgets/column_details";
@import "./components/widgets/dimensions_container";
@import "./components/widgets/filter_container";
@import "./components/widgets/filter_tooltip";
@import "./components/widgets/aggregate_function_tooltip";
@import "./components/widgets/order_by_tooltip";
@import "./components/widgets/chart_editor";
@import "./components/widgets/map_editor";
@import "./components/widgets/raster_chart_editor";
@import "./components/widgets/fields_container";
@import "./components/widgets/sort_container";
@import "./components/widgets/table_view";
@import "./components/widgets/limit_container";
@import "./components/widgets/widget_dock";
@import "./components/widgets/widget-tooltip-list";
@import "./components/widgets/chart_tooltip";
@import "./components/widgets/widget_actions_tooltip";
@import "./components/widgets/vega_chart_legend";
@import "./components/widget";



@import "./components/admin/dataset/card";
@import "./components/admin/dataset/filter";
@import "./components/admin/dataset/filter-item";
@import "./components/admin/dataset/form";
@import "./components/admin/dataset/datasets-list-card";
@import "./components/admin/dataset/source-item";
@import "./components/admin/dataset/metadata-source-list";


@import "./components/admin/widget/chart";
@import "./components/admin/widget/widget_chart";
@import "./components/admin/widget/placeholder_chart";
@import "./components/admin/widget/widget_index";
@import "./components/admin/widget/form";
@import "./components/admin/widget/metadata_form";

@import "./components/admin/layer/layers_new";
@import "./components/admin/layer/form";

@import "./components/admin/tags/tags_form";

@import "./components/admin/faqs/faqs_table";


@import "./components/app/common/banner";
@import "./components/app/common/card_static";
@import "./components/app/common/partner_block";
@import "./components/app/common/partners_slider";

@import "./components/app/pages/explore";
@import "./components/app/pages/submit_insight";
@import "./components/app/pages/partner_detail";
@import "./components/app/pages/getInvolved";
@import "./components/app/pages/develop_app";
@import "./components/app/pages/apps";
@import "./components/app/pages/alerts_page";
@import "./components/app/pages/newsletter";


@import "./components/app/explore/dataset_placeholder_chart";
@import "./components/app/explore/widget_configurator";
@import "./components/app/explore/explore_layers_tooltip";
@import "./components/app/explore/resume_filters";
@import "./components/app/explore/dataset_tags_tooltip";
@import "./components/app/explore/explore_dataset_filters";
@import "./components/app/explore/similar_datasets";

@import './components/dashboards/list';
@import './components/dashboards/template-selector';
@import './components/dashboards/dashboards-subheader-block';

@import "./components/app/pages/myrw/myrw_edit_profile";
@import "./components/app/pages/myrw/myrw_subscriptions";
@import "./components/app/pages/myrw/myrw_common";
@import "./components/app/pages/myrw/myrw_widgets_edit";
@import "./components/app/pages/myrw/myrw_widgets_new";
@import "./components/app/pages/myrw/myrw_dataset_widgets";

@import "./components/app/pages/embed/embed_widget";
@import "./components/app/pages/embed/embed_table";
@import "./components/app/pages/embed/embed_dataset";

@import "./components/app/subscriptions/subscription_card";

@import "./layout/app/home/styles";
@import "./layout/app/dashboard-detail/energy-country-explorer/country-indicators/indicator-card/info-tooltip/styles";
@import "./layout/app/dashboard-detail/energy-country-explorer/country-indicators/indicator-card/indicator-tooltip/styles";
@import "./layout/app/dashboard-detail/energy-country-explorer/country-indicators/indicator-card/ranking-bar/styles";
@import "./layout/app/dashboard-detail/energy-country-explorer/country-indicators/indicator-card/styles";
@import "./layout/app/dashboard-detail/energy-country-explorer/country-indicators/styles";
@import "./layout/app/dashboard-detail/energy-country-explorer/custom-section/styles";
@import "./layout/app/dashboard-detail/energy-country-explorer/styles";
@import "./layout/app/dashboard-detail/energy-country-explorer/country-selector/styles";
@import "./layout/app/dashboard-detail/dashboard-widget-card/styles";
@import "./layout/app/dashboard-detail/dashboard-widget-card/ranking-widget/styles";
@import "./layout/app/pulse/legend/styles";
@import "./layout/app/pulse/layer-container/styles";
@import "./layout/app/pulse/layer-menu/styles";
@import "./layout/app/pulse/layer-menu-native/styles";
@import "./layout/app/pulse/layer-menu-dropdown/styles";
@import "./layout/app/pulse/styles";
@import "./layout/app/pulse/layer-card/styles";
@import "./layout/app/pulse/globe-tooltip/styles";
@import "./layout/app/newsletter-thank-you/styles";
@import "./layout/layout/ocean-watch/storytelling/background/styles";
@import "./layout/layout/ocean-watch/storytelling/story-step/styles";
@import "./layout/explore/explore-my-data/styles";
@import "./layout/explore/explore-my-data/coming-soon/styles";
@import "./layout/explore/explore-menu/styles";
@import "./layout/explore/explore-collections/styles";
@import "./layout/explore/explore-areas-of-interest/form/styles";
@import "./layout/explore/explore-areas-of-interest/form/country-selector/styles";
@import "./layout/explore/explore-areas-of-interest/intro/styles";
@import "./layout/explore/explore-areas-of-interest/styles";
@import "./layout/explore/explore-login/styles";
@import "./layout/explore/explore-near-real-time/styles";
@import "./layout/explore/explore-favorites/styles";
@import "./layout/explore/explore-discover/styles";
@import "./layout/explore/explore-detail/explore-detail-footer/styles";
@import "./layout/explore/explore-detail/further-information/styles";
@import "./layout/explore/explore-detail/related-content/styles";
@import "./layout/explore/explore-detail/styles";
@import "./layout/explore/explore-detail/explore-detail-header/styles";
@import "./layout/explore/explore-detail/explore-detail-tags/styles";
@import "./layout/explore/explore-detail/explore-detail-buttons/styles";
@import "./layout/explore/explore-detail/dataset-layers/dataset-layer-card/styles";
@import "./layout/explore/explore-detail/dataset-layers/styles";
@import "./layout/explore/explore-topics/styles";
@import "./layout/explore/explore-topics/list/styles";
@import "./layout/explore/explore-datasets/explore-datasets-actions/styles";
@import "./layout/explore/explore-datasets/styles";
@import "./layout/explore/explore-datasets/list/styles";
@import "./layout/explore/explore-datasets/list/list-item/styles";
@import "./layout/explore/explore-areas-of-interest-new-area/styles";
@import "./layout/explore/explore-map/styles";
@import "./layout/sign-in/styles";
@import "./layout/header/header-menu-mobile/styles";
@import "./layout/header/styles";
@import "./components/error-fallback/styles";
@import "./components/ui/read-more/styles";
@import "./components/ui/gdpr-banner/styles";
@import "./components/ui/accordion/styles";
@import "./components/ui/maintenance-banner/styles";
@import "./components/ui/icon/styles";
@import "./components/card-indicator-set/styles";
@import "./components/card-indicator-set/numeric-card-indicator/styles";
@import "./components/card-indicator-set/indicator-visualization/styles";
@import "./components/card-indicator-set/card-indicator/styles";
@import "./components/search-results/styles";
@import "./components/app/myrw/areas/tabs/index/styles";
@import "./components/app/myrw/widgets/tabs/list/styles";
@import "./components/areas/form/upload-area/styles";
@import "./components/areas/card/tooltip/styles";
@import "./components/areas/card/styles";
@import "./components/areas/card-list/styles";
@import "./components/wysiwyg/widget-block-edition/styles";
@import "./components/wysiwyg/widget-block/styles";
@import "./components/datasets/form/sorting-layer-manager/styles";
@import "./components/datasets/card-list/styles";
@import "./components/datasets/card-item/styles";
@import "./components/mini-explore/datasets-sidebar/dataset-actions/styles";
@import "./components/mini-explore/styles";
@import "./components/admin/table-filters/styles";
@import "./components/admin/faqs/components/styles";
@import "./components/admin/data/layers/form/interactions/styles";
@import "./components/admin/data/explore-form/styles";
@import "./components/dropdown-list/styles";
@import "./components/tooltip-list/styles";
@import "./components/blog/rating/styles";
@import "./components/vis/globe-cesium/styles";
@import "./components/map/popup/styles";
@import "./components/map/plugins/compare/styles";
@import "./components/map/styles";
@import "./components/map/controls/basemap/styles";
@import "./components/map/controls/draw-polygon/styles";
@import "./components/map/controls/styles";
@import "./components/map/controls/search/styles";
@import "./components/map/controls/zoom/styles";
@import "./components/map/controls/reset-view/styles";
@import "./components/map/controls/share/styles";
@import "./components/dashboards/thumbnail-list/styles";
@import "./components/tooltip-container/styles";
@import "./components/card-placeholder/styles";
@import "./components/modal/share-modal/styles";
@import "./components/modal/subscriptions-modal/subscriptions-preview/table/styles";
@import "./components/modal/login-modal/styles";
@import "./components/prominent-button/styles";
@import "./components/mini-explore-widgets/styles";
@import "./components/widgets/card/styles";
@import "./components/widgets/info/styles";
@import "./components/widgets/card-list/styles";
@import "./components/widgets/header/styles";

@import '~foundation-sites/scss/foundation';
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-responsive-embed;

@layer base {
  body {
    @apply antialiased;
    @apply bg-white;
  }

  p {
    @apply mb-4;
  }
}

// overrides Tailwind defaults for this specific case
.vizzuality__toggle-legend {
  svg {
    display: inline-block;
    vertical-align: initial;
  }
}
