@import 'css/settings';

.c-country-selector {
    width: 255px;
    height: 220px;
    overflow: hidden;

    .search-input {
        width: 100%;
        margin: 2 * $space 0px 2 * $space 0px;

        input {
            height: 6 * $space !important   ;
            font-size: $font-size-medium;
        }
    }

    .c-radio-box {
        max-height: 180px;
        overflow-y: auto;

        .c-radio {
            label {
                color: $dove-grey;
                font-size: $font-size-normal;
                line-height: 20px;
            }
        }   
    }

    .overlay {
        position: absolute; 
        bottom: 0; 
        left: 0;
        width: 100%;
        height: 15 * $space;
        background-image: linear-gradient(to bottom, transparent, white);
        pointer-events: none;
        z-index: 2;
    }
}