@import 'css/settings';

.c-country-selector {
    width: 255px;
    height: 220px;
    padding: 3 * $space;
    overflow: hidden;

    .search-input {
        width: 100%;
        height: 6 * $space;
        margin-bottom: 2 * $space;
        font-size: $font-size-medium;
        border: 1px solid rgba(202,204,208,0.85);
        border-radius: 4px;
        box-sizing: border-box;
    }

    ul {
        max-height: 180px;
        overflow-y: auto;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 3 * $space;
    
            input, label {
                cursor: pointer;
            }
    
            label {
                margin-left: $space;
                font-size: $font-size-normal;
                line-height: 20px;
                color: $dove-grey;
            }
        }    
    }

    .overlay {
        position: absolute; 
        bottom: 0; 
        left: 0;
        width: 100%;
        height: 15 * $space;
        background-image: linear-gradient(to bottom, transparent, white);
        pointer-events: none;
    }
}