@import 'css/settings';

.c-prominent-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: ($space * 4);
  border: 1px solid rgba($black,.03);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba($black, .1);
  text-align: center;
  transition: all $animation-time-2 $ease-in-out-sine;
  transition-property: transform, box-shadow;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 1px rgba($black, .05), 0 20px 30px rgba($black, .2);
    transform: translateY(-4px);
  }

  &:active,
  &:focus {
    border-color: $dark-pink;
  }

  svg{
    height: 40px;
    width: 40px;
    stroke: $dark-pink;
  }

  span {
    display: inline-block;
    margin: (2 * $space) 0 0;
    font-size: $font-size-tiny;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    color: $dove-grey;
  }

  &.-alt {
    background: $dark-pink;

    svg {
      stroke: $porcelain;
    }

    span {
      color: $porcelain;
    }
  }

  &.-is-link {
    padding: 0;

    > a {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: ($space * 4);

      &:hover {
        text-decoration: none;
      }
    }
  }
}
