@import 'css/settings';

.c-explore-areas-of-interest-new-area {
  width: 100%;
  padding: 0 ($space * 8);

  > .menu {
    padding: ($space * 2) 0;

    > button {
      text-transform: uppercase;

      > svg {
        width: 14px;
        height: 10px;
      }
    }
  }

  > .section-name {
    display: inline-block;
    margin: ($space * 4) 0;
    font-size: $font-size-tiny;
    text-transform: uppercase;
  }
}
