@import 'css/settings';

.c-ranking-bar {
    display: flex;
    padding: 0px $space 0px $space;

    .bar {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: $light-grey;
    }

    .point {
        position: absolute;
        top: -5px;
        background-color: $sea-blue;
        height: 12px;
        width: 12px;
        border: 2px solid white;
        border-radius: 50%;
        cursor: pointer;
    }
}