@import 'css/settings';

.c-widget-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: $white;
  overflow-x: hidden;
  overflow-y: auto;

  > .widget-info-row {
    &:not(:first-child) {
      margin: ($space * 3) 0 0;
    }

    h4 {
      color: $body-font-color;
    }

    .widget-links-container {
      ul {
        list-style-type: circle;

        > li {
          margin: 0 0 0 ($space * 7);

          > a {
            color: $link-font-color;
          }
        }
      }
    }
  }
}
