{
  "env": {
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "css": "./css",
          "components": "./components",
          "layout": "./layout",
          "redactions": "./redactions",
          "utils": "./utils",
          "selectors": "./selectors",
          "static": "./static",
          "services": "./services",
          "constants": "./constants"
        },
        "cwd": "babelrc"
      }
    ]
  ],
  "presets": [
    "next/babel"
  ]
}
