{
  "presets": [
    "next/babel"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"],
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ]
    }
  }
}
