{
  "env": {
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    },
    "test": {
      "plugins": ["istanbul"],
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ]
    }
  },
  "ignore": [
    "cypress",
    ".next",
    "node_modules"
  ],
  "plugins": [
    // [
    //   "module-resolver",
    //   {
    //     "root": ["."],
    //     "alias": {
    //       "css": "./css",
    //       "components": "./components",
    //       "layout": "./layout",
    //       "redactions": "./redactions",
    //       "modules": "./modules",
    //       "utils": "./utils",
    //       "selectors": "./selectors",
    //       "services": "./services",
    //       "constants": "./constants",
    //       "hooks": "./hooks"
    //     },
    //     "cwd": "babelrc"
    //   }
    // ]
  ],
  "presets": [
    "next/babel"
  ]
}
