# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secrets in this file are kept private
SECRET=keyboard cat

# API's urls: https://api.resourcewatch.org
WRI_API_URL="https://api.resourcewatch.org/v1"
WRI_API_URL_V2=

# static assets url for this application
STATIC_SERVER_URL="https://staging.resourcewatch.org:442"

# Control tower is used to manage users
CONTROL_TOWER_URL="https://production-api.globalforestwatch.org"
CALLBACK_URL="http://localhost:3000/auth"

# Used to select which data will be showed
APPLICATIONS="rw"

# Redis URL for production mode
REDIS_URL=

# Transifex live api token
TRANSIFEX_LIVE_API=

# Environments to pass to the API (comma-separated values)
API_ENV=

# Google Analytics tracking ID
GOOGLE_ANALYTICS=

# URL of the Wordpress blog's JSON API
BLOG_API_URL=https://blog.resourcewatch.org/wp-json/wp/v2

# API Token used to retrieve data and other services from Mapbox
RW_MAPBOX_API_TOKEN=
