# Mac OS
.DS_Store

# Text editors
*.sublime*
.sublime*
.vscode*

# Vendors
/node_modules

# Logs
*.log*

# Compiled files
/.next

# Environmental variables
.env

# cypress
/cypress/screenshots
/cypress/videos

.nyc_output
coverage
coverage.json
