@import 'css/settings';

.c-custom-section {

    .text-container {
        max-width: 790px;
        margin-bottom: 12 * $space;
    }
    .c-dashboard-widget-card {
        max-height: 480px;
        margin-bottom: 8 * $space;

        &.-embed-widget {
            max-height: none;
        }
    }
}