@import 'css/settings';

.c-custom-section {
  .text-container {
    max-width: 790px;
    margin-bottom: 12 * $space;
  }

  .widget-blocks {
    .column {
      padding-bottom: 8 * $space;

      .c-dashboard-widget-card {
        &.-embed-widget {
          max-height: none;
        }
      }
    }
  }
}
