.c-dashboard-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border: 1px solid rgba($color-black, .1);
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba($color-black, .05);

  > header {
    min-height: 51px;
    padding: 15px;
    border-bottom: 2px solid rgba($color-black, .05);

    .header-container {
      position: relative;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding-right: 80px;

      .buttons {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;

        & > :nth-child(even) {
          margin: 0 0 0 5px;
        }

        button {
          position: relative;
          display: inline-flex;
          padding: 0;
          cursor: pointer;
        }

      }
    }
  }

  .widget-container {
    position: relative;
    display: flex;
    padding: 15px;
    min-height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-grow: 1;

    > * {
      flex-basis: 100%;
    }

    > .message {
      display: flex;
      justify-content: center;
      align-items: center;

      .no-data,
      .error {
        font-weight: $font-weight-bold;
        text-align: center;

        span {
          display: block;
          font-weight: $font-weight-regular;
          font-size: $font-size-default;
        }
      }
    }

    .c-chart {
      height: auto;
    }

    .widget-modal {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: $margin-size-extra-small;
      z-index: 3;
      background-color: $white;
      overflow-x: hidden;
      overflow-y: auto;

      > div {
        margin-bottom: $margin-size-extra-small;
      }

      h4 {
        color: $body-font-color;
      }

      .widget-links-container {

        ul {
          list-style-type: circle;

          li {
            margin-left: 35px;

            a {
              color: $link-font-color;
            }
          }
        }
      }
    }
  }
}
