.c-dashboard-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border: 1px solid rgba($color-black, .1);
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba($color-black, .05);

  > header {
    min-height: 51px;
    padding: 15px;
    border-bottom: 2px solid rgba($color-black, .05);

    .header-container {
      position: relative;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding-right: 80px;

      .buttons {
        position: absolute;
        top: 2px;
        right: 0;
        margin: 0;
        padding: 0;

        button {
          position: relative;
          cursor: pointer;
        }
      }
    }
  }

  .widget-container {
    position: relative;
    display: flex;
    padding: 15px;
    min-height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-grow: 1;

    > * {
      flex-basis: 100%;
    }

    > .message {
      display: flex;
      justify-content: center;
      align-items: center;

      .no-data,
      .error {
        font-weight: $font-weight-bold;
        text-align: center;

        span {
          display: block;
          font-weight: $font-weight-regular;
          font-size: $font-size-default;
        }
      }
    }

    .c-chart {
      height: auto;
    }
  }
}
