@import 'css/settings';

.l-pulse {

  background-color: black;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  .pulse-container {
    position: absolute;
    top: $header-main-height-mobile;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - #{$header-main-height-mobile});
    overflow: hidden;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      top: $header-main-height;
      height: calc(100% - #{$header-main-height});
    }

    .cesium-infoBox {
      z-index: 10;

      button {
        cursor: pointer;
      }
    }

    .c-zoom-control {
      z-index: 9;

      @media screen and (max-width: map-get($breakpoints, medium)) {
        top: 30px;
      }
    }
  }
}
