$banner-padding-size: 70px;

.c-banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: $banner-padding-size;
  padding-bottom: $banner-padding-size;
  border-radius: 4px;
  color: $alt-font-color;

  &.-use-background {
    background-size: cover;
    background-image: url('/static/images/backgrounds/image_header.jpg');
    background-position: top center;
  }

  &.-use-dim {
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: rgba($black, .54);
    }
  }

  h1, h2, h3 {
    color: $alt-font-color;

    a  {
      color: $alt-font-color;
    }
  }

  p {
    margin-bottom: ($space * 3);
  }

  &.-left { align-items: flex-start; }
  &.-rigth { align-items: flex-end; }
}
