$banner-padding-size: 70px;

.c-banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: $banner-padding-size;
  padding-bottom: $banner-padding-size;

  color: $alt-font-color;

  &.-use-background {
    background-size: cover;
    background-image: url('/static/images/backgrounds/image_header.jpg');
    background-position: top center;
  }

  h1, h2, h3 {
    color: $alt-font-color;

    a  {
      color: $alt-font-color;
    }
  }

  p {
    margin-bottom: $margin-size-small;
  }

  // &.intro {
  //   padding: 160px 0;
  // }

  // a, h1, h2, h3 {
  //   color: $alt-font-color;
  // }

  &.-left { align-items: flex-start; }
  &.-rigth { align-items: flex-end; }
}
