// .c-btn {
//   border: 0;
//   border-radius: 3px;
//   box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.21);
//   padding: rem(15) rem(60);
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   font-weight: bold;
//   cursor: pointer;
//   background-color: $color-white;

//   &:focus { outline: none; }

//   &.-primary {
//     color: $color-primary;

//     & * { color: $color-primary; }
//   }

//   &.-filled {
//     color: $color-primary;
//     background-color: $color-white;

//     & * { color: $color-primary; }

//     &.-primary {
//       background-color: $color-primary;
//       color: $color-white;

//       & * { color: $color-white; }

//       &:hover {
//         background-image: linear-gradient(to bottom, #ae286e, #a01d61);
//       }
//     }
//   }

//   &.-transparent {
//     background-color: transparent;
//     color: $color-white;
//     border: 1px solid $color-white;
//     box-shadow: none;

//     & * { color: $color-white; }

//     &.-primary {
//       color: $color-primary;
//       border: 1px solid $color-primary;

//       & * { color: $color-primary; }
//     }
//   }

//   & > a {
//     text-decoration: none;
//   }
// }
