.c-card-static {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: $margin-size-small;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  -webkit-box-shadow: 0 0 0 rgba($black, .1);
  transition: all .3s;

  &.-alt {
    color: $color-white;

    h1, h2, h3, h4  {
      color: $color-white;

      a {
        color: $color-white;
      }
    }
  }

  .tag {
    margin: 0;
    margin-bottom: 15px;
  }

  // .card-title,
  // .title {
  //   margin: 0;
  //   margin-bottom: 15px;

  //   a {
  //     text-decoration: none;
  //   }
  // }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .source {
      display: flex;
      align-items: center;

      img {
        height: 38px;
        margin-right: 10px;
        border-radius: 50%;
      }

      .source-name {
        a {
          line-height: 12px;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &:hover {
    box-shadow: 0 20px 30px rgba($black, .2);
    transform: translateY(-4px);
    cursor: pointer;
  }
}
