.c-partners-slider {
  .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;

    a {
      display: block;
    }

    img {
      width: auto;
      max-height: 56px;
    }
  }
}
