.c-partners-block {
  padding: 0 45px;
  text-align: center;
  margin-bottom: 130px;

  .logo-container {
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 35px;
  }

  .description {
    margin-bottom: 35px;
  }

  .action {
    text-transform: none;
    font-weight: normal;
    padding: 10px 30px;
    letter-spacing: 0;
  }
}
