.c-partners-block {
  text-align: center;
  margin: $margin-size-extra-small 0;

  .logo-container {
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 35px;
    cursor: pointer;
  }

  .description {
    margin-bottom: 35px;
  }

  // .action {
  //   text-transform: none;
  //   font-weight: normal;
  //   padding: 10px 30px;
  //   letter-spacing: 0;
  // }

  @media screen and (min-width: map-get($breakpoints, medium)) {
    padding: 0 $margin-size;
    margin: $margin-size 0;
  }
}
