// Colors
$color-primary: #c32d7b;
$color-secondary: #3bb2d0;
$color-tertiary: #f4f5f6;
$color-white: #fff;
$color-black: #000;
$color-grey: #e3e4e6;
$color-red: #e23035;
$color-green: #65b60d;

$border-color-1: #e3e4e6;
$border-color-2: #ccc;

$color-text-1: #393f44;
$color-text-2: #999ba1;

.c-datasets-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  border: 1px solid $border-color-1;
  cursor: pointer;

  &:hover {
    background: $color-tertiary;
  }

  &.-selected {
    background: $color-tertiary;
  }

  h3 {
    font-size: 16px;
    color: $color-secondary;
    margin: 0;
  }

  p {
    color: $color-text-1;
    margin: 0;
  }
}
