.c-datasets-index {
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    > .c-custom-select {
      margin-right: 20px;
    }

    > .c-button {
      flex-basis: 140px;
      flex-shrink: 0;
    }
  }
}