.c-datasets-list-card {

  .card-header {
    position: relative;
    padding-right: 20px;

    > .favourite-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      margin: 0;
    }
  }

  &.-owner {
    .card-container {
      padding-bottom: 50px;
    }

    .actions {
      width: 100%;
      padding: 0 30px;
      position: absolute;
      bottom: 20px;
      left: 0;
      display: flex;
      justify-content: flex-end;

      a {
        color: $color-dark-pink;
        text-decoration: none;
      }
    }
  }
}
