.c-datasets-form {

  .subscription-container {
    background: rgba(00,00,00,0.01);
    padding: 0 20px;
    margin: 0 0 30px 0;
  }

  .remove-subscribable-container {
    display: flex;

    button {
      margin: 20px 0;
    }
  }
}
