.l-container {
  width: 100%;
  position: relative;
  max-width: $grid-row-width;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 (map-get($grid-column-gutter, small)/2);

  @media screen and (min-width: map-get($breakpoints, medium)) {
    max-width: map-get($breakpoints, medium);
  }

  @media screen and (min-width: map-get($breakpoints, large)) {
    max-width: map-get($breakpoints, large);
    padding: 0 (map-get($grid-column-gutter, medium)/2);
  }

  @media screen and (min-width: map-get($breakpoints, xlarge)) {
    max-width: 1080px;
  }
}
