@use "sass:math";
@import 'css/settings';

.coral-reefs-dashboard {

  .section {
    padding-top: 60px;

    .subsection {
      padding-top: 40px;
    }
  }

  .image-container {
    display: flex;
    flex-direction: column;

    .image-caption {
      color: rgb(166, 166, 166);
    }
  }

  .caption {
    color: rgb(166, 166, 166);
  }

  h1 {
    font-size: math.div($font-size-h2, 2);
    color: $color-primary;
    font-weight: $font-weight-light;
    font-family: $body-font-family;
    margin-top: $font-size-h2 * 0.5;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      font-size: $font-size-h2;
    }
  }

  h2 {
    font-size: math.div($font-size-h3, 2);
    color: $color-primary;
    font-weight: $font-weight-light;
    font-family: $body-font-family;
    margin-bottom: $font-size-h3 * 0.5;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      font-size: $font-size-h3;
    }
  }

  p {
    color: $body-font-color;
    font-size: $global-font-size;
    font-family: $body-font-family;
    line-height: $global-lineheight;
    max-width: 80ch;

    > a {
        color: $link-font-color;
        text-decoration: underline;
    }

    &:last-child {
        margin-bottom: 0;
    }
  }

  ul.bullet-list {
    li {
      font-size: $font-size-default;
      margin-left: 3em;
      list-style-type: disc;

      > a {
        color: $link-font-color;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  ol.number-list {
    li {
      font-size: $font-size-default;
      margin-left: 3em;
      list-style-type: decimal;

      > a {
        color: $link-font-color;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .sticky-dashboard-content-bar {
    margin: ($space * 4) 0 0;
  }

  .dashboard-anchors-list {
    display: flex;
    justify-content: space-around;

    > .dashboard-anchors-list-item {
      list-style-type: none;

      > a {
        position: relative;
        display: inline-flex;
        padding: ($space * 2) 0;
        color: $dark-pink;
        font-weight: $font-weight-bold;
        text-decoration: none;
        cursor: pointer;
        transition: color $animation-time $ease-in-out-cubic;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          display: inline-block;
          width: 100%;
          height: 5px;
          background-color: transparent;
        }

        &.-active {
          color: $charcoal-grey;

          &:before {
            background-color: $charcoal-grey;
          }
        }
      }
    }
  }

}
