.c-header-menu-mobile {

  .header-menu-mobile-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    visibility: hidden;
    transition: all $animation-time-2;

    &.-opened {
      visibility: visible;
    }

    .header-menu-mobile-nav {
      position: relative;
      z-index: 1;
      width: calc(100% - #{$header-main-height-mobile});
      max-width: 400px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      padding: $margin-size-small;
      background: $color-white;
      transform: translate(100%, 0);
      transition: transform $animation-time-2 $ease-in-out-cubic;

      h2 {
        margin-bottom: $space-1;
      }

      > ul {
        > li {
          margin: $space-1 * 3 0 0;

          &:first-child {
            margin: 0;
          }
        }
      }

      &.-opened {
        transform: translate(0, 0);
      }
    }

    .header-menu-mobile-backdrop {
      background: rgba($color-black, 0.15);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
      opacity: 0;
      transition: opacity $animation-time-2 linear;

      &.-opened {
        opacity: 1;
        transform: translate(0, 0);
      }

    }
  }

  .header-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
