.l-header {
  position: relative;

  background-color: $header-bg-color;
  background-image: $header-bg-image,
    linear-gradient(
      86deg,
      $header-gradient-color-1 0%,
      $header-gradient-color-2 100%
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10000;

  &.-transparent {
    background-image: none;
    background-color: transparent;
  }

  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-main-height-mobile;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      height: $header-main-height;
    }
  }

  // Logo
  .header-logo {
    position: relative;

    .brand-logo {
      width: 200px;
      height: 35px;
      display: block;
      fill: $color-white;
    }

    .brand-title {
      display: block;
      height: 0;
      width: 0;
      color: transparent;
      text-indent: -9999px;
      visibility: hidden;
      margin: 0;
    }

    .brand-beta {
      font-size: 10px;
      color: $color-white;
      text-transform: uppercase;
      position: absolute;
      right: 0px;
      top: -6px;
    }
  }

  // Menu
  .header-menu {
    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        position: relative;
        margin-left: $margin-size-extra-small;
        color: $alt-font-color;

        > a,
        > span,
        > button {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: $alt-font-color;
          fill: $alt-font-color;
          padding: 7px 10px;
          cursor: pointer;

          &.-bordered {
            border: 1px solid rgba($alt-border-color, 0.5);
            border-radius: 4px;
          }

          &:hover {
            color: $active-font-color;
            fill: $active-font-color;
            text-decoration: none;
          }
        }

        &.-active > a {
          color: $active-font-color;
          fill: $active-font-color;
          font-weight: bold;
          text-decoration: none;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,0);
            width: calc(100% - 20px);
            height: 2px;
            background: $active-font-color;
          }
        }
      }
    }
  }
}


