.l-map {
  position: absolute;
  top: $header-main-height-mobile;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  @media screen and (min-width: map-get($breakpoints, medium)) {
    top: $header-main-height;
  }
}
