/*
 * Structure:
 *
 * .l-page
 * |-.l-header
 * |-.l-content
 * |-.l-postcontent
 * |-.l-footer
 *
 */

.l-page {
  background-color: $body-bg-color;

  .c-page-header,
  .l-page-header {
    $header-main-height: rem(75);
    $header-secondary-height: rem(0);
    $header-bg-image: url("/static/images/components/layout/header-bg-texture.png");
    $header-gradient-color-1: rgba(#c32d7b, 0.8);
    $header-gradient-color-2: rgba(#c90e39, 0.7);

    background-color: $color-primary;
    background-image: $header-bg-image,
      linear-gradient(
        86deg,
        $header-gradient-color-1 0%,
        $header-gradient-color-2 100%
      );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: -($header-main-height + $header-secondary-height) 0 0;
    padding: ($header-main-height + $header-secondary-height) 0 0;

    &.-admin {
      background-color: #A5177E;
      background-image: $header-bg-image,
        linear-gradient(
          86deg,
          #950851 0%,
          #A5177E 100%
        );
    }

    .page-header-content {
      color: $alt-font-color;
      padding: $margin-size-small 0 $margin-size-small;

      h1 {
        color: $alt-font-color;
        margin-bottom: 0;
      }

      h3 {
        color: $alt-font-color;
        margin: $space-1 * 2 0px $space-1 * 5;
        font-weight: $font-weight-light;
      }

      &.-with-tabs {
        padding: $margin-size-small 0 0;
      }
    }

    .page-header-title {
      color: $alt-font-color;
    }

    .page-header-info {
      margin: $space-1 * 2 0 0;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        list-style: none;

        li {
          margin: 0 0 0 $space-1 * 4;

          &:first-child{ margin: 0; }

          a {
            color: $white;
          }
        }
      }
    }

    @media screen and (min-width: map-get($breakpoints, medium)) {
      .page-header-content {
        padding: $margin-size-small 0 $margin-size;

        h1 {
          margin-bottom: inherit;
        }
      }
    }
  }

}
