.l-row {
  &.-equal-height {
    margin-top: -#{map-get($grid-column-gutter, small)};

    @media screen and (min-width: map-get($breakpoints, medium)) {
      margin-top: -#{map-get($grid-column-gutter, medium)};
    }

    div[class*=col],
    div[class^=col] {
      display: flex;
      flex-direction: column;
      margin-top: #{map-get($grid-column-gutter, small)};

      @media screen and (min-width: map-get($breakpoints, medium)) {
        margin-top: #{map-get($grid-column-gutter, medium)};
      }
    }
  }
}
