.l-section,
.c-page-section {
  padding: $margin-size-small 0;

  // .page-home & {
  //   padding-top: $margin-size-big;
  //   padding-bottom: $margin-size-big;
  // }

  &.-small {
    padding: $margin-size-small 0;
  }

  &.-secondary {
    background-color: $ui-bg-color;
  }

  .l-section-mod {
    margin-top: $margin-size-small;
    margin-bottom: $margin-size-small;
  }

  @media screen and (min-width: map-get($breakpoints, medium)) {
    padding: $margin-size * 2 0;
  }
}
