$max-width-sidebar: 530px;
$min-width-sidebar: 530px;
$min-width-sidebar-closed: 10px;

.c-sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: $max-width-sidebar;
  background-color: $color-white;
  color: $color-text-1;
  z-index: 3;

  @media screen and (min-width: map-get($breakpoints, medium)) {
    width: $min-width-sidebar-closed;
    height: 100%;
    box-shadow: 0 0 0 1px rgba($black, 0.1), 0 20px 30px 0 rgba($black, 0.1);
    transform: translate(calc(-100% + #{$min-width-sidebar-closed}),0);
    // transition: all $animation-time-2 $ease-in-out-sine; // Better perfomance and feeling

    &.-open {
      min-width: $min-width-sidebar;
      width: 50%;
      transform: translate(0,0);
    }
  }

  .sidebar-content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      padding: 0;
    }

    > * {
      &:last-child {
        padding: 0;
      }
    }

    &:after {
      content: "";
      display: block;
    }
  }

  // Toggle button
  .btn-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 40px;
    top: 20px;
    left: 100%;
    z-index: 1;
    cursor: pointer;
    background-color: rgba($ui-font-color, .8);
    border: none;
    border-radius: 0 2px 2px 0;
    transition: background $animation-time-2 $ease-in-out-sine;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      display: flex;
    }

    .c-icon {
      width: 12px;
      fill: $color-white;

      &.-left { transform: rotate(90deg); }
      &.-right { transform: rotate(-90deg); }
    }

    &:hover {
      background-color: rgba(darken($ui-font-color, 5%), .8);
    }
  }
}
