$max-width-sidebar: 650px;
$min-width-sidebar: 650px;
$min-width-sidebar-closed: 10px;

.c-sidebar {
  display: flex;
  flex-direction: column;
  max-width: $max-width-sidebar;
  background-color: $color-white;
  color: $color-text-1;
  z-index: 3;

  &.-open {
    transform: translate(0,0);
  }

  .sidebar-content {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 32px 16px;

    > * {
      &:last-child {
        padding: 0;
      }
    }
  }

  // Toggle button
  .btn-toggle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 30px;
    height: 40px;
    top: 20px;
    left: 100%;
    cursor: pointer;
    background-color: rgba($color-white, .1);
    border: none;
    border-radius: 0 2px 2px 0;
    transition: background $animation-time-2 $ease-in-out-sine;

    .c-icon {
      width: 12px;
      fill: $color-white;

      &.-left { transform: rotate(90deg); }
      &.-right { transform: rotate(-90deg); }
    }

    &:hover {
      background-color: rgba(darken($color-white, 25%), .3);
    }
  }

  @media screen and (min-width: map-get($breakpoints, medium)) {
    width: 50%;
    height: 100%;
    min-width: $min-width-sidebar;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(calc(-100% + #{$min-width-sidebar-closed}),0);
    transition: all $animation-time-2 $ease-in-out-sine;
  }
}
