@import 'css/settings';

.c-rating {
  display: flex;
  align-items: center;

  > .rating-star {
    margin-right: 6px;
  }

  &.-yellow {
    color: $color-mango;

    > .rating-star { fill: $color-mango; }
  }
}
