@import 'css/settings';

.l-map {
  .rw-legend-timeline {
    margin: 20px 0;
    padding: 0 8px;

    > .rc-slider {
      > .rc-slider-mark {
        width: 100%;
        margin-left: 0;

        > .rc-slider-mark-text {
          &:first-child {
            left: 0 !important;
            transform: translate(-9px, 0);
          }

          &:last-child {
            right: 0 !important;
            left: auto !important;
            transform: translate(9px, 0);
          }
        }
      }
    }
  }
}
