apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: resource-watch-preproduction
  name: resource-watch-preproduction
  namespace: rw
spec:
  progressDeadlineSeconds: 2147483647
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      name: resource-watch-preproduction
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        name: resource-watch-preproduction
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: type
                    operator: In
                    values:
                      - webapps
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: name
                      operator: In
                      values:
                        - resource-watch-preproduction
                topologyKey: kubernetes.io/hostname
              weight: 100
      containers:
        - args:
            - start
          env:
            - name: SECRET
              valueFrom:
                secretKeyRef:
                  key: RW_SECRET
                  name: appsecrets
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  key: REDIS_URI
                  name: dbsecrets
            - name: NEXT_PUBLIC_RW_GOGGLE_API_TOKEN_SHORTENER
              valueFrom:
                secretKeyRef:
                  key: RW_GOGGLE_API_TOKEN_SHORTENER
                  name: appsecrets
            - name: RW_USERNAME
              valueFrom:
                secretKeyRef:
                  key: RW_PREPROD_AUTH_USER
                  name: appsecrets
            - name: RW_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: RW_PREPROD_AUTH_PASSWORD
                  name: appsecrets
          image: gfwdockerhub/resource-watch
          imagePullPolicy: Always
          name: resource-watch-preproduction
          ports:
            - containerPort: 3000
              protocol: TCP
          resources:
            limits:
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 128Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      imagePullSecrets:
        - name: regcred
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: { }
      terminationGracePeriodSeconds: 30
