.c-chart {
  width: 100%;
  // height: 100%;
  height: 250px; // We should remove this...

  .chart {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}
