.c-widget-metadata-form {
  
  .remove-widget-link-container {
    display: flex;

    button {
      margin-top: 52px;
    }
  }

  .widget-links-container {
    margin-top: 60px;

    .add-widget-link-container {
      margin-top: 20px;
    }
  }
}
