.c-widgets-index {

  .button-container {
      margin-bottom: 10px;
  }

  .table {
    td {
      max-width: 400px;
    }
  }

  &:not(.-embed) {
    .table {
      td {
        &.individual-actions {
          min-width: 300px;
          text-align: right;
        }
      }
    }
  }
}
