.c-widget-chart {
  position: relative;
  width: 100%;
  padding: 20px;
  max-height: 180px;

  // These following styles are used in MY RW,
  // specifically in "My Widgets"
  .c-chart {
    height: 300px;

    .chart {
      height: 100%;
    }
  }
}
