.c-globe {
  background-color: white;
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 53%
    ),
    url("static/images/components/vis/galaxy.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  canvas {
    display: block;
  }
}
