@import 'css/settings';

.c-filters {
  display: flex;

  .c-radio-box {
    display: flex;
    .c-radio {
      display: flex;
      label {
        display: inline;
        text-align: right;
      }
    }
  }
}
