.c-area-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 22px;

  &--add-card {
    position: relative;
    margin-bottom: 20px;
    border: 2px dashed rgba(202, 204, 208, 0.85);
    text-align: center;
    border-radius: 8px;

    min-height: 390px;

    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      color: rgba(57, 63, 68, 0.5);
    }

    &:hover {
      opacity: 0.6;
    }

  }

  h4, h5 {
    margin: 0px;
  }

  .border-container {
    flex: 1;
    border: 1px solid $color-grey;
    border-radius: 8px;

    .map-container {
      position: relative;
      width: 100%;
      height: 200px;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 200px);
      padding: 15px;

      .name-container {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
        min-height: 20px;
      }

      .subscriptions-container {
        .datasets-list {
          .dataset-element {
            display: flex;
            justify-content: space-between;
          }
        }

        .subscription-status {
          display: flex;
          justify-content: space-between;

          .pending-label {
            color: $color-blue-turquoise;
          }
        }

        .new-subscription-container {
          display: flex;
          justify-content: flex-end;
        }

        a {
          color: $dove-grey;
          cursor: pointer;
        }
      }

      .actions-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 0px;

        a {
          color: $color-dark-pink;
          cursor: pointer;
        }
      }
    }

    &.blue-background {
      background-color: #F5FBFC;
    }
  }
}
