.c-areas-form {

  .custom-select-options {
    max-height: 200px;
  }

  input {
    min-width: 100%;
  }

  .selectors-container {
    display: flex;
    margin-top: $space * 4;
  }

  .c-field__map--container {
    position: relative;
  }
}
