.c-areas-list {

  .actions-div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .card-container {
    display: flex;
    height: 100%;
  }

  .no-areas-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
