.c-area-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;

  h4, h5 {
    margin: 0px;
  }

  .border-container {
    border: 1px solid $color-grey;

    .map-container {
      position: relative;
      width: 100%;
      height: 200px;
    }

    .text-container {
      padding: 15px;

      .name-container {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        min-height: 20px;
      }

      .subscriptions-container {
        padding: 5px;
        background-color: $color-pale-grey;

        .dataset-element {
          display: flex;
          justify-content: space-between;
        }

        .subscription-actions {
          display: flex;
          justify-content: flex-end;
          a {
            color: $color-dark-pink;
            cursor: pointer;
          }
        }
      }

      .actions-div {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
        margin-bottom: 0px;

        a {
          color: $color-dark-pink;
          cursor: pointer;
        }
      }
    }
  }
}
