.c-upload-area {
  p a {
    color: $color-secondary;
    text-decoration: none;
  }

  .c-dropzone {
    margin: 20px 0;
  }

  .dropzone-file-input {
    display: flex;
    height: 45px;

    margin: 10px 0 20px 0;
    padding: 5px;

    border: 1px solid $border-color-2;
    border-radius: 4px;

    &.-active {
      border-color: $color-primary;
    }

    > div {
      flex-grow: 1;
      padding: 5px 15px;
    }

    > button {
      flex-shrink: 0;
      padding: 0 5px;
    }
  }

  .dropzone-file-errors {
    width: 100%;

    padding: 10px 20px;
    margin: 0 0 40px 0;

    list-style: none;

    background-color: rgba(250,183,46,0.2);
    border-radius: 4px;

    span {
      display: inline-block;
      margin-right: 5px;
      padding: 2px 8px;

      color: $color-white;
      background-color: $color-mango;

      border-radius: 4px;
    }
  }

  .complementary-info {
    margin-top: 20px;
    font-size: $font-size-default;

    p { margin: 0; }

    ul {
      margin: 10px 0;
      padding-left: 25px;

      li + li {
        margin-top: 5px;
      }
    }
  }

  &.-embed {
    .c-dropzone {
      margin-top: 0;
    }

    .dropzone-file-input {
      margin-top: 0;
    }

    .info {
      margin-top: 45px;
    }
  }
}