$this: 'c-alerts-page';

.#{$this} {
  display: block;

  &__widget {
    position: relative;
    margin: 0 0 90px 0;

    &--header {
      display: flex;
      margin: 0 0 20px 0;

      button {
        margin-left: auto;
      }

    }

    &--heading {
      padding: 0;
    }

  }

  &__graph {
    position: relative;
    height: 400px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
    border-radius: 5px;
    overflow: hidden;
  }

}