.p-apps {
  .c-banner {
    background-image: url('static/images/backgrounds/partners-02@2x.jpg');
    background-position: top center;

    .c-btn {
      text-transform: none;
      font-weight: normal;
    }
  }
}
