
.p-develop-app {
  // Page banners backgrounds
  .c-banner {
    &.intro {
      background-position: bottom center;
      background-size: cover;
  }

    &.partners {
      background-image: url('/static/images/backgrounds/partners-02@2x.jpg');
      background-position: top center;
    }
  }
}
