.c-page-explore-detail {
  .c-configurable-widget {

    position:relative;
    margin-top: 30px;
    width: 100%;

    //temporal
    height: 300px;
    background: #34B7DA;

    button {
      position: absolute;
      top: 16px;
      right: 16px;
      text-align: center;
      fill: $color-white;
      color: $color-white;
    }

    .dropdown {
      min-width: 100px;
      min-height: 100px;
      background: $color-white;
    }

  }

  .widget-row {
    position: relative;
    margin-top: 60px;
    width: 100%;
    min-height: 100px;
  }

  .c-page-section, .pulse-banner-section {
    background-image: url('static/images/pages/app/bg-banner-planetPulse.jpg');
    display: flex;
    justify-content: center;

    .pulse-banner-container {
      width: 230px;

      h1 {
        text-align: center;
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

}
