.c-page-explore-detail {
  .c-configurable-widget {

    position:relative;
    margin-top: 30px;
    width: 100%;

    //temporal
    height: 300px;
    background: #34B7DA;

    button {
      position: absolute;
      top: 16px;
      right: 16px;
      text-align: center;
      fill: $color-white;
      color: $color-white;
    }

    .dropdown {
      min-width: 100px;
      min-height: 100px;
      background: $color-white;
    }

  }

  .widget-row {
    position: relative;
    margin-top: 60px;
    width: 100%;
    min-height: 100px;
    background-color: $color-pale-grey;
  }

  .description-row {

    margin-top: 48px;

    .actions {
      button {
        min-width: 145px;
        min-height: 45px;

        &:last-of-type {
          margin-top: 15px;
        }
      }
    }

    .social {
      svg {
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }

  .similar-datasets-row {

    display: none;

    margin-top: 85px;

    .title {
      font-size: 26px !important;
    }

    .c-dataset-list {
      margin-top: 16px;
    }

    &.-active {
      display: flex;
    }
  }
}
