.p-explore {

  .c-title {
    margin-bottom: 30px;
  }

  .search-container {
    display: flex;

    height: 45px;
    margin-bottom: 10px;

    .c-search-input {
      color: $color-text-1;
      margin: 0px;
      height: 100%;

      .c-field {
        margin: 0px;
        height: 100%;
        input {
          height: 100%;
        }
      }
    }

    .c-btn {
      width: 125px;
      margin-left: 10px;
    }
  }

  .filters-container {
    display: flex;

    .c-tree-selector{
      width: 100%;


      &:not(first-child) {
        margin: 15px 0 0;
      }

      .dropdown {

        .dropdown-trigger {
          width: 100%;
          min-height: 45px;
        }

        .dropdown-content {
          z-index: 9999; // The Vega chart shows up on top otherwise
        }
      }
    }
  }

  .share-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 90px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: $color-white;
    border-radius: 3px;
    cursor: pointer;
    z-index: 999;

    &:hover {
      background-color: mix($color-primary, $color-white, 5%);
    }

    a {
      color: $color-white;
    }

    svg {
      fill: $color-black;
    }
  }
}
