.c-page-explore-detail {

  .c-configurable-widget {

    position:relative;
    margin-top: 30px;
    width: 100%;

    //temporal
    height: 300px;
    background: #34B7DA;

    button {
      position: absolute;
      top: 16px;
      right: 16px;
      text-align: center;
      fill: $color-white;
      color: $color-white;
    }

    .dropdown {
      min-width: 100px;
      min-height: 100px;
      background: $color-white;
    }

  }

  .widget-row {
    position: relative;
    margin-top: 60px;
    width: 100%;
    min-height: 100px;
  }

  .dataset-info-rest-of-fields {
    h2 {
      margin-top: 50px;
    }
  }

  .c-page-section.related-insights {
    padding: 0px;
  }

  .c-page-section.related-tools {
    padding: 0px;
  }

  .tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;

    .tag {
      margin-right: 10px;
      color: $link-font-color;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color:darken($link-font-color, 10%);
      }
    }
  }

  .c-page-section.similar-datasets {
    padding: 0px;
  }

  .c-page-section.pulse-banner-section {

    padding: 0px;
    margin-top: 30px;

    .pulse-banner {

      .pulse-banner-container {
        background-image: url('/static/images/pages/app/bg-banner-planetPulse.jpg');
        width: 100%;
        height: 280px;
        border-radius: 4px;
        display: flex;
        justify-content: center;

        .action-container {
          width: 230px;

          h1 {
            text-align: center;
            color: $color-white;
          }

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  h2 {
    color: $color-dark-pink;
  }
}
