.p-get-involved {
  .c-card-static-box {
    padding-top: $space * 4;
    @media screen and (min-width: map-get($breakpoints, medium)) {
      height: 100%;
    }
  }
  .c-card-static {
    min-height: 290px;
    margin-top: $space * 4;
    padding: $space * 8;
    margin-top: 0;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      height: 100%;
      min-height: 400px;
      padding-right: $space * 8;
    }

    @media screen and (min-width: map-get($breakpoints, large)) {
      padding-right: 180px;
    }

    .buttons.-align-left {
      flex-wrap: nowrap;
      @media screen and (max-width: map-get($breakpoints, large)) {
        flex-wrap: wrap;
        display: flex;
        .c-button.-primary {
          order: 1;
        }
        .c-button.-secondary {
          order: 0;
        }
      }
    }

    &.signup {
      background: url('/static/images/backgrounds/computer.jpg');
    }
    &.insights {
      background: url('/static/images/backgrounds/jellyfish.jpg');
    }
    &.contribute {
      background: $dark-pink
        url('/static/images/components/layout/header-bg-texture.png') no-repeat
        center;
    }
    &.join {
      background: $sea-blue;
    }
    &.develop {
      background: url('/static/images/backgrounds/develop_app.jpg');
    }
  }
  .c-card-long {
    padding: $space * 8;
    border-radius: 4px;
  }
}
