.p-get-involved {
  .c-card-static {
    min-height: 290px;
    margin-top: 20px;
    padding: 40px;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      height: 400px;
      padding-right: 40px;
    }

    @media screen and (min-width: map-get($breakpoints, large)) {
      padding-right: 180px;
    }

    &.signup {
      background: url('/static/images/backgrounds/jellyfish.jpg');
    }
    &.insights {
      background: url('/static/images/backgrounds/jellyfish.jpg');
    }
    &.contribute {
      background: $color-primary
        url('/static/images/components/layout/header-bg-texture.png') no-repeat
        center;
    }
    &.join {
      background: $color-secondary;
    }
    &.develop {
      background: url('/static/images/backgrounds/develop_app.jpg');
    }
  }
  .c-card-long {
  border-radius: 4px;
}
}
