.page-home {
  .video-intro {
    position: relative;
    width: 100%;
    height: 390px;
    overflow: hidden;
    background-image: url('/static/images/homepage/video-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .video-foreground,
    .video-foreground iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    @media (min-aspect-ratio: 16/9) {
      .video-foreground { height: 300%; top: -100%; }
    }
    @media (max-aspect-ratio: 16/9) {
      .video-foreground { height: 250%; top: -75%; }
    }

    .video-foreground {
      opacity: 0;
      transition: opacity 2s;

      &.-ready {
        opacity: 1;
      }
    }

    .video-text {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0,0,0,0.2);

      color: $alt-font-color;
      font-size: $font-size-big;
      text-align: center;
      text-shadow: 0 2px 1px rgba(0, 0, 0, .2);

      z-index: 1;

      h1 {
        color: $alt-font-color;
      }

      a {
        padding: 20px;
        text-shadow: none;
      }
    }

    @media screen and (min-width: map-get($breakpoints, medium)) {
      height: 560px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .topics-container {
    .c-topics-thumbnail-list {
      margin-top: 50px;
    }
  }

  .explore-cards .c-card-static {
    height: 360px;
    margin-top: 20px;
  }
}


.insight-cards {
  min-height: 590px;
  position: relative;

  .c-card-static {
    margin-top: $margin-size;
    height: 590px;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .7);
      border-radius: 4px;
    }

    div {
      z-index: 1;
    };

    h3 {
      font-weight: 600;
      font-size: 20px;
    }

    h4 {
      font-weight: 600;
      font-size: 11px;
      text-transform: uppercase;
    }

    a:hover {
      text-decoration: none;
    }

    .source-name a:hover {
      text-decoration: underline;
    }
  }

  .dual {
    margin-top: $margin-size;
    .c-card-static {
      margin-top: $margin-size-extra-small;
      height: 288px;
    }
  }
}

.explore-cards {
  margin-top: 20px;

  .c-card-static {

    .tag-name {
      text-transform: uppercase;
      font-size: $font-size-small;
    }
    .title {
      font-weight: bold;
      font-size: $font-size-big;
    }
    .buttons {
      justify-content: flex-start;
    }
  }
}
