.p-newsletter {
    .form-row {
      display: flex;
      justify-content: space-between;

      .c-field {
        &:first-child {
          margin-right: 20px;
        }
      }
    }

    .c-button-container {
      margin-top: 30px;
    }
}
