
.p-app-detail {
  h1.title {
    margin: 0;
    margin-bottom: 20px;
  }

  h3 { margin-top: 0; }

  .l-section {
    padding-bottom: 0;

    p {
      margin-bottom: 30px;
    }
  }

  .intro {
    .title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    .source {
      margin-bottom: 70px;
    }
  }

  .c-banner.pulse {
    background-image: url('../images/backgrounds/planet-pulse.jpg');
  }
}
