.p-partners {
  .l-section {
    &.-partners {
      padding-bottom: 0;
      padding-top: 0;

      &.-first {
        padding-top: 70px;
      }
    }

    .title {
      margin-top: 0;
      margin-bottom: 50px;
      padding-left: 30px;
    }
  }
  .c-banner {
    background-image: url('http://resourcewatch.org/assets/bg-header.jpg');
    background-position: top center;
  }
}
