.c-page.partner-detail {
  .c-banner {
    &.intro {

      background-size: cover;
      background-position: center;

      .partner-header {
        z-index: 9999;

        .title {
          margin-bottom: 40px;
          letter-spacing: 3px;
          color: $white;
        }

        .logo-container {
          display: inline-block;
          margin-bottom: 80px;
          padding: 15px 20px;
        }

        .description {
          padding: 0 150px;
          text-align: left;
        }
      }
    }
  }

  .datasets-container {
    margin-top: 50px;
  }
}

.learn-more {
  margin-top: 80px;
}
