.p-pulse {
  background-color: white;
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 53%
    ),
    url("/static/images/components/vis/galaxy.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  .cesium-map {
    height: 100%;
    width: 100%;
  }

  .cesium-infoBox {
    z-index: 10;
  }

  .c-zoom-control {
    z-index: 11;
  }
}
