.p-pulse {
  background-color: black;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  .cesium-infoBox {
    z-index: 10;

    button {
      cursor: pointer;
    }
  }

  .c-zoom-control {
    z-index: 11;
  }
}
