.p-pulse {
  background-color: black;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  .cesium-infoBox {
    z-index: 10;

    button {
      cursor: pointer;
    }
  }

  .c-zoom-control {
    z-index: 11;

    @media screen and (max-width: map-get($breakpoints, medium)) {
      top: 30px;
    }
  }
}
