
.p-sign-up {
  // Page banners backgrounds
  .c-banner {
    &.intro {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }

    &.partners {
      background-image: url('/static/images/backgrounds/computer.jpg');
      background-position: top center;
    }
  }
}
