.p-splash-detail {
  width: 100%;
  height: 100vh;

  .intro-container {
    position: absolute;
    top: 100px;
    left: 20px;
    border-radius: 4px;
    max-width: 300px;
    max-height: 300px;
    background-color: $white;
    z-index: 9999999;

    &.-closed {
      left: 0px;
    }

    .text-container {
      overflow: auto;
      padding: 30px;
      max-height: 300px;

      a {
        color: $link-font-color;
      }

      &.-closed {
        display: none;
      }
    }

    .btn-toggle {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
      top: 20px;
      right: -30px;
      width: 30px;
      height: 50px;
      cursor: pointer;
      background-color: $ui-font-color;
      border: none;
      outline: none;
      transition: background $animation-time-2 $ease-in-out-sine;

      svg {
        fill: $white;
      }

      &:hover {
        background-color: darken($ui-font-color, 5%);
      }
    }
  }

  .hotspot-section {
    position: absolute;
    transition: all 1s linear;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    color: $white;
    z-index: 99999;
    display: flex;

    .selected-hotspot-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 250px;
        margin-top: 80px;
      }
    }

    .detail-container {
      min-width: 500px;
      max-width: 500px;
      height: 100%;
      padding-top: 10%;
      overflow: auto;

      h2 {
        color: $white;
      }

      .text-container {
        margin-bottom: 20px;

        a, h3 {
          color: $white;
        }
        a {
          text-decoration: underline;
          font-weight: bold;
        }
        .video-container {
          position: relative;
          height: 0;
          padding-bottom: 60%; /* This should be changed to match the aspect ratio of the video */
          margin-bottom: 20px;

          .video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .close-button-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .close-button {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          margin-bottom: 20px;
        }
      }
    }
  }

  .panorama {
    height: 100%;
    width: 100%;

    .menu-container {
      position: absolute;
      bottom: 50px;
      left: 50px;
      z-index: 9999;

      .scenario-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 95px;
        background-color: rgba(0,0,0,0.4);
        border-radius: 4px 4px 0 0;
        color: $white;
      }

      .menu {
        display: flex;
        align-items: center;
        background: $white;
        padding: 10px;
        border-radius: 4px;

        .option {
          display: flex;
          align-items: center;

          input {
            cursor: pointer;
          }

          label {
            cursor: pointer;
            margin-left: 10px;
          }

          &:not(:last-child) {
            margin-right: 40px;
          }
        }
      }
    }

    a-scene {
      width: 100%;
      height: 100%;
    }
  }

  .drag-help {
    position: absolute;
    width: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  &.-hovering {
    .a-canvas.a-grab-cursor:hover{cursor:pointer !important}
  }
}
