@import 'css/settings';

.c-read-more {
    position: relative;
    .c-button {
        color: $sea-blue;
        border: none;
    }

    &.-truncated {
        .overlay {
            position: absolute; 
            bottom: 5 * $space; 
            left: 0;
            width: 100%;
            height: 15 * $space;
            background-image: linear-gradient(to bottom, transparent, white);
            pointer-events: none;
        }
        p {
            margin: 0px;
        }
    }
}