@import 'css/settings';

.c-area-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba($black, .1);

  h4, h5 {
    margin: 0px;
  }

  .map-container {
    position: relative;
    width: 100%;
    min-height: 200px;
    border: 1px solid $color-12;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    overflow: hidden;

    &.-ready {
      border: 0;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: $space * 3;

    .basic-info {
      .name-visibility {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > form {
          max-width: 75%;
          width: 100%;

          .editable-name {
            overflow-x: hidden;
            width: 100%;
            max-width: 100%;
            padding: 7.5px ($space *2);
            border: 1px solid transparent;
            border-radius: 4px;
            cursor: pointer;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;

            &:focus {
              outline: 0;
              border-color: $border-color-2;

              &:invalid {
                border-color: $color-13;
                background-color: rgba($color-13, 0.05);
              }
            }
          }
        }

        > .is-public {
          font-size: $font-size-small;
          color: $color-14;
        }
      }

      .subscriptions {
        > button,
        > span {
          font-size: $font-size-normal;
          color: $charcoal-grey;
        }

        > span {
          font-style: italic;
        }
      }
    }

    .actions-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
