.c-dataset-list-header {
  margin: $space-1 * 2 0 $space-1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .actions {
    display: flex;
    align-items: center;

    button {
      fill: $color-grey;

      &:hover {
        fill: $color-black;
      }

      &.-active {
        fill: $color-black;
      }
    }

    .sorting-container {
      margin-right: $space-1;
    }
  }
}
