.c-dataset-list-item {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 auto;
  background: $ui-bg-color;
  min-width: 240px;

  .info {
    background: $color-white;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .detail {
      font-size: $font-size-normal;
      padding: $margin-size-extra-small;

      h4 {
        margin: 0 0 $space-1/2;
      }

      a {
        text-decoration: none;
        color: $color-text-1;
      }

      p {
        word-break: break-word;
      }

      p:last-child {
        margin-bottom: 0;
      }

      .title-container {
        position: relative;
        padding-right: $space-1 * 4;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      padding-left: $margin-size-extra-small;
      padding-bottom: $margin-size-extra-small;
      padding-right: $margin-size-extra-small;
    }
  }

  &.-list {
    .info {
      flex-direction: row;

      .detail {
        padding-left: 0px;

        a {
          text-decoration: none;
        }

        @media screen and (min-width: map-get($breakpoints, medium)) {
          max-width: calc(100% - 150px);
        }

        .title-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 1rem;

          h4 {
            margin-bottom: 0px;
          }

          .tags-button {
            position: relative;
            margin-left: 5px;
            fill: $charcoal-grey;
          }
        }
      }
    }

    .actions {
      margin-top: 10px;
      margin-right: 0px;
      min-width: 145px;
    }

    &:hover {
      .info {
        .detail {
          a {
            color: darken($color-text-1, 10%);
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.-grid {
    border: 1px solid $border-color-1;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);

    .info {
      flex-direction: column;
    }
  }

  .tags-button {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 4;
    cursor: pointer;
    fill: $charcoal-grey;
  }

  .favourite-button {
    position: absolute;
    right: 0px;
    top: -2px;
    z-index: 4;

    svg {

      &.-filled {
        fill: $yellow;
      }

      &.-empty {
        fill: $dove-grey;
      }
    }
  }
}
