.c-dataset-list-header {
  margin: $space-1 * 2 0 0;
  display: flex;
  justify-content: space-between;

  .total {
    margin: 13px 0 0 6px;
  }

  .actions {
    display: flex;
    justify-content: flex-start;
  }

  button{

    fill: $color-grey;

    &:hover {
      fill: $color-black;
    }

    &.-active {
      fill: $color-black;
    }

  }
}
