.c-dataset-list {

  > .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    > .list-item {
      display: flex;
      flex-direction: column;
      padding: 0 6px;
      margin-bottom: 12px;

      &.-list {
        padding-top: 12px;
        border-top: 1px solid $border-color-1;
      }
    }
  }
}
