.c-dataset-tags-tooltip {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
  max-width: 250px;
  overflow: auto;

  .tag {
    border: 1px solid $light-grey;
    background: $dark-pink;
    color: $white;
    font-weight: bold;
    border-radius: 100px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }
}
