.c-dataset-tags-tooltip {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
  max-width: 250px;
  overflow: auto;

  .tag {
    display: flex;
    float: left;
    clear: left;
    align-items: center;
    min-height: 22px;
    max-height: 22px;
    background: $dark-pink;
    color: $white;
    font-size: $font-size-small-medium;
    font-weight: $font-weight-bold;
    border-radius: 15px;
    padding: 3px 10px 4px 10px;
    margin: 5px;
    cursor: pointer;
  }
}
