.c-dataset-tags-tooltip {
  max-height: 200px;
  max-width: 250px;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 15px;
  border: 1px solid rgba(57,63,68,0.15);
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
}
