.c-explore-dataset-filters {

  .filters-sum-up {
    display: flex;
    align-items: center;

    .tag {
      display: flex;
      float: left;
      clear: left;
      align-items: center;
      min-height: 22px;
      background: $white;
      color: $dark-pink;
      font-size: $font-size-small-medium;
      border-radius: 15px;
      border: 1px solid $dark-pink;
      padding: 3px 0px 3px 10px;
      margin: 5px;

      &.clear-filters {
        color: $white;
        background-color: $dark-pink;
        cursor: pointer;
        padding: 3px 10px 3px 10px;
      }
    }

    .selected-tags-container {
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      overflow: auto;

      .tag-remove {
        color: $dark-pink;
        cursor: pointer;
      }
    }
  }

  .filters-container {
    display: flex;
    flex-direction: column;

    .c-tree-selector{
      width: 100%;

      &:not(first-child) {
        margin: 15px 0 0;
      }

      .dropdown {

        .dropdown-trigger {
          width: 100%;
          min-height: 45px;
        }

        .dropdown-content {
          z-index: 9999; // The Vega chart shows up on top otherwise
        }
      }
    }
  }
}
