.c-explore-datasets-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: $space-1 * 2 0 10px;
  font-size: $font-size-small;
  color: $color-charcoal-grey;
  line-height: 1;
  position: relative;

  .actions {
    display: flex;
    align-items: flex-end;

    > * {
      margin-left: $space-1 * 4;

      &:first-child { margin-left: 0; }
    }

    .c-explore-datasets-sort {
      display: flex;

      > * {
        margin-left: 5px;

        &:first-child { margin-left: 0; }
      }

      .actions-sort-button {
        padding: 0;
        font-size: $font-size-small;
        color: $color-charcoal-grey;
        fill: rgba($color-charcoal-grey, 0.2);
        display: flex;
        cursor: pointer;

        &:hover {
          color: darken($color-charcoal-grey, 15%);
          fill: rgba($color-charcoal-grey, 0.5);
        }
      }
    }

    .c-explore-datasets-mode {
      position: relative;
      top: 2px;
      display: flex;
      align-items: flex-end;

      > * {
        margin-left: $space-1;

        &:first-child { margin-left: 0; }
      }

      .actions-mode-button {
        height: 17px;
        padding: 0;
        fill: rgba($color-charcoal-grey, 0.3);
        cursor: pointer;

        &:hover {
          fill: rgba($color-charcoal-grey, 0.6);
        }

        &.-active {
          fill: rgba($color-charcoal-grey, 1);
        }

        svg {
          width: 17px;
          height: 17px;
        }
      }
    }
  }

}
