.c-filters-resume {
  margin: $space-1 * 2 0 0;

  > .filter-resume {}

  > .filter-resume > .filter-title {
    color: $dark-pink;
  }

  > .filter-resume > .filter-list {

    > .filter-item {
      display: inline-block;

      &:not(:first-child) {
        &:before {
          content: '\00a0';
        }
      }
    }
  }
}
