
.c-footer {
  margin-top: 120px;

  .footer-intro {
    position: relative;
    border-top: 1px solid $border-color-1;
    padding: 35px 0;
    height: 120px;

    .title {
      position: absolute;
      top: -16px;
      left: 50%;
      background-color: $color-off-white;
      font-size: $font-size-small;
      text-transform: uppercase;
      padding-left: 24px;
      padding-right: 38px;
      transform: translateX(-50%);
      letter-spacing: 2px;

      a {
        color: $color-silver;
      }

      &:after {
        content: '';
        position: absolute;
        right: 17px;
        top: 4px;
        width: 5px;
        height: 5px;
        transform: rotate(45deg);
        border-top: 2px solid $color-silver;
        border-right: 2px solid $color-silver;
      }
    }

    .partners {
      height: 100%;
    }

    .item {
      width: auto;
      height: auto;

      img {
        width: auto;
        height: auto;
        max-width: 100px;
        max-height: 50px;
      }
    }
  }

  .footer-main {
    border-top: 1px solid $border-color-1;
    padding: rem(32) 0 rem(50);
  }

  .footer-terms {
    background-color: $color-tertiary;

    .column {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $color-text-2;
      padding: 5px 0;

      p { margin: 0; }
    }
  }
}
