$header-main-height: rem(75);
$header-secondary-height: rem(30);
$header-bg-color: $color-primary;
$header-bg-image: url("static/images/components/layout/header-bg-texture.png");
$header-gradient-color-1: rgba(#c32d7b, 0.8);
$header-gradient-color-2: rgba(#c90e39, 0.7);

.c-header {
  position: relative;
  z-index: 10;
  background-color: $header-bg-color;
  background-image: $header-bg-image,
    linear-gradient(
      86deg,
      $header-gradient-color-1 0%,
      $header-gradient-color-2 100%
    );
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;


  // MAIN
  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $header-main-height;
    max-width: $max-width;
    margin: 0 auto;
  }


  // SECONDARY
  .header-secondary {
    height: $header-secondary-height;
    background: rgba($color-black, .1);
  }


  // LOGO
  .header-logo {
    position: relative;
    margin: 0;
    padding: 0;

    a {
      display: block;
    }

    span {
      text-indent: -9999px;
      position: absolute;
      top: 0;
      left: 0;
    }

    svg {
      width: rem(200);
      height: rem(35px);
      display: block;
      fill: $color-white;
    }
  }


  // MENU
  .header-menu {
    > ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        margin: 0 rem(15);

        font-size: 16px;
        color: $color-white;

        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }

        > a {
          color: $color-white;
          text-decoration: none;
          padding: rem(20) rem(15);

          &:hover {
            color: darken($color-white, 15%);
          }
        }
      }
    }
  }
}
