.c-intro {
  background-color: #F4F5F6;
}

.c-page {
  position: relative;
  background: $color-white;
  min-height: calc(100vh - #{$header-main-height + $header-secondary-height});

  &.-dark {
    background-color: #242426;
  }
}
