apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: {name}
  name: {name}
spec:
  revisionHistoryLimit: 0
  template:
    metadata:
      annotations:
        chaos.alpha.kubernetes.io/enabled: "true"
      labels:
        name: {name}
    spec:
      containers:
        resources:
         requests:
           memory: "0Mi"
           cpu: "0m"
      - name: {name}
        image: vizzuality/{name}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "0Mi"
            cpu: "0m"
        env:
          - name: SECRET
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: RW_SECRET
          - name: USERNAME
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: RW_USERNAME
          - name: PASSWORD
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: RW_PASSWORD
        ports:
          - containerPort: 3000
      restartPolicy: Always
