apiVersion: v1
kind: Service
metadata:
 labels:
   name: {name}-staging
 name: {name}-staging
spec:
  type: NodePort
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 3000
  selector:
    name: {name}-staging
