@import 'css/settings';
@import 'css/mixins';

.c-card-indicator-set {
  .selected-card {
    position: relative;

    &:after {
      position: absolute;
      bottom: -51px;
      left: calc(50% - 4px);
      transform: rotate(45deg) translate(-50%, 0);
    }

    &.-primary {
      &:after {
        @include arrow(24px, 2px, $sea-blue, up);
        transform: rotate(45deg) translate(-50%, 0);
        background-color: $sea-blue;
      }
    }

    &.-secondary {
      &:after {
        @include arrow(24px, 2px, $color-12, up);
        transform: rotate(45deg) translate(-50%, 0);
        background-color: $color-12;;
      }
    }
  }
}
