@import 'css/settings';

.l-log-in {
  background-image: url('/static/images/pages/app/log-in-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .content {
    position: relative;
    height: calc(100vh - #{$header-main-height-mobile});

    @media screen and (min-width: map-get($breakpoints, medium)) {
      height: calc(100vh - #{$header-main-height});
    }

    .log-in-container {
      overflow: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 880px;
      width: 100%;
      padding: $margin-size;
      border-radius: 4px;
      box-shadow: 0 15px 20px 0 rgba($black, .15);
      background: $white;

      @media screen and (min-width: map-get($breakpoints, medium)) {
        max-height: auto;
      }
    }
  }
}
