@import 'css/settings';

// GDPR banner
.gdpr-banner {
  width: 100%;
  height: 70px;
  background-color: $charcoal-grey;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 0 10px 0;

  a {
    color: white;
    text-decoration: underline;
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
