.c-myrw-subscriptions {

  .subscription-card {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid $color-grey;
    border-radius: 4px;

    h5 {
      margin-top: 0px;
      margin-bottom: 8px;
    }
  }
}
