.c-myrw-widgets-new {

  .dataset-selector {
    margin-bottom: 60px;
  }

  .form-container {
    margin-top: 80px;

    .buttons-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }
  }
}
