.c-myrw-widgets-my {

  .list-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons-container {
      display: flex;
      align-items: center;

      .last-modified-container {
        display: flex;
        align-items: center;
        cursor: pointer;
        min-width: 120px;

        svg {
          margin-left: 5px;
          fill: $color-grey;
        }
      }

      .mode-buttons {
        display: flex;
        align-items: center;
        min-width: 70px;

        button {
          cursor: pointer;
          fill: $color-grey;
          padding-top: 0px;
          padding-bottom: 0px;

          &.-active {
            fill: $color-black;
          }
        }
      }
    }

    .widget-collections-selector {
      min-width: 250px;
    }
  }

  .new-widget-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .no-widgets-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list {
    padding: 0px;
  }
}
