.p-myrw-edit-profile {

  padding-top: 50px;

  h1,
  h2 {
    color: $color-dark-pink;
    font-weight: normal;
  }

  .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 150px;
    }
  }

  .delete-account-checkbox {

    .c-field {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-width: 1px;
    width: 130px;
    height: 130px;
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;

    button {
      width: 150px;
    }
  }

}
