.c-myrw-edit-profile {
  input {
    min-width: 100%;
  }

  .c-field:not(:first-of-type) {
    margin-top: 20px;
  }

  .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    h1 {
      color: $color-dark-pink;
    }

    button {
      width: 150px;
    }
  }

  .delete-account-checkbox {

    .c-field {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .photo-section {
    border-bottom: 1px solid $color-grey;
    padding-bottom: 50px;

    h5 {
      margin-bottom: 5px;
      margin-top: 20px;
    }

    .photo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-style: dashed;
      border-width: 1px;
      width: 130px;
      height: 130px;
    }
  }
  .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

    button {
      width: 150px;
    }
  }
}
