.c-myrw-widgets-my {

  .list-actions {
    display: flex;
    justify-content: flex-end;

    button {
      cursor: pointer;
      fill: $color-grey;

      &.-active {
        fill: $color-black;
      }
    }
  }

  .no-widgets-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list {
    padding: 0px;

    .list-item {
      padding: 0px;
    }
  }
}
