.c-myrw-edit-profile {
  input {
    min-width: 100%;
  }

  .c-field:not(:first-of-type) {
    margin-top: 20px;
  }

  .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    h1 {
      color: $color-dark-pink;
    }

    button {
      width: 150px;
    }
  }
}
