@import 'css/settings';

.c-login-modal {

  .social-media-intro {
    display: inline-block;
    margin: $margin-size 0 0;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      margin: 0;
    }
  }

  form {
    margin: 22px 0 0;

    .forgot-password-link {
      font-size: $font-size-small;
    }

    .recaptcha-container {
      min-height: 78px;
    }

    .form-buttons {
      margin: $margin-size-small 0 0;

      > ul {
        display: flex;
        align-items: center;
      }
    }
  }

  .social-btn-list {
    margin: $margin-size 0 0;

    > .social-btn-item {
      &:not(:first-child) {
        margin: $margin-size-extra-small 0 0;
      }
    }
  }
  .log-in-container {
    > .wrapper {
      padding: 0 100px;

      @media screen and (min-width: map-get($breakpoints, medium)) {
        padding: 0 $margin-size;
      }
    }
  }
}

