@import 'css/settings';

.c-power-generation-map {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 3 * $space 0px 0px 3 * $space;

    .main-container {
        display: flex;
        width: 100%;
        
        .map-container {
            position: relative;
            width: 100%;
            min-height: 100%;
            margin-left: 3 * $space;
        }
    }
}