.c-aside {
  padding: $space-1 * 2 0;

  nav {
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        margin: $space-1 * 2 0 0;
        cursor: pointer;

        &:first-child { margin: 0 }

        a {
          position: relative;
          font-size: $font-size-big;
          color: $color-text-1;
          text-decoration: none;

          svg {
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translate(-4px, -50%);
            fill: $color-primary;
          }

          &:hover {
            color: $color-primary;
          }

          &.-active {
            color: $color-primary;
          }
        }
      }
    }
  }
}
