.c-avatar {
  width: rem(32);
  height: rem(32);
  position: relative;
  border-radius: 50%;
  background-color: $color-text-1;
  background-size: cover;

  a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .avatar-letter {
    color: $color-white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: $font-size-huge;
  }

  .avatar-notifications {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    font-size: $font-size-extra-small;
    font-weight: $font-weight-bold;
    color: $color-white;
    background: $color-mango;
    box-shadow: 0 2px 4px 0 rgba($color-black, 0.1);
  }
}
