
.c-breadcrumbs {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 2px;

  .item {
    position: relative;
    list-style: none;
    margin-right: 20px;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $color-mango;
      fill: $color-mango;
      text-decoration: none;
      cursor: pointer;

      > * {
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }

      &:hover {
        color: darken($color-mango, 10%);
        fill: darken($color-mango, 10%);
      }
    }
  }
}
