
.c-breadcrumbs {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 2px;

  .item {
    position: relative;
    list-style: none;
    margin-right: 20px;

    &:after {
      content: '';
      position: absolute;
      top: 10px;
      right: -10px;
      width: 4px;
      height: 4px;
      border-top: 1px solid $color-dark-grey;
      border-right: 1px solid $color-dark-grey;
      transform: rotate(45deg);
    }

    &:last-child {
      &:after { display: none; }
    }

    &.-current {
      color: $color-dark-grey;
      cursor: default;
    }

    a {
      color: $color-dark-grey;
      text-decoration: none;
      cursor: pointer;

      &:hover { color: $color-secondary; }
    }
  }
}
