.c-breadcrumbs {
  display: flex;
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;

  .item {
    position: relative;
    list-style: none;
    margin-right: 20px;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $active-font-color;
      fill: $active-font-color;
      text-decoration: none;
      cursor: pointer;

      > * {
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }

      &:hover {
        color: darken($active-font-color, 10%);
        fill: darken($active-font-color, 10%);
      }
    }
  }
}
