.c-browser {
  display: block;

  h3 {
    display: block;
  }

  h4 {
    display: block;
  }

  p { display: block; }

  ul {
    li { display: inline-block;}

    a {
      line-height: 60px;
      display: inline-block;
      margin: 0 50px 0 0;
      color: #c43d7c;
      text-decoration: underline;
    }
  }

}