$btn-bg-hover-color: rgba(195, 45, 123,0.05);
$btn-bg-hover-alt-color: rgba(255, 255, 255, 0.1);
$btn-border-color: rgba(195, 45, 123, 0.3);
$btn-border-alt-color: rgba(255, 255, 255, 0.3);
$btn-hover-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);

.c-btn,
.c-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  background: none;
  color: $color-primary;
  fill: $color-primary;
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  font-family: inherit;
  letter-spacing: 0;
  line-height: 0.8;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  appearance: none;
  transition: all 0.16s ease-in-out;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  > * {
    margin-left: 5px;

    &:first-child {
      margin-left: 0px;
    }
  }

  &.-disabled {
    pointer-events: none;
    cursor: default;
  }

  &.-a,
  &.-b,
  &.-c,
  &.-primary,
  &.-secondary,
  &.-tertiary,
  &.-facebook,
  &.-twitter,
  &.-google
   {
    padding: 0 $margin-size-small;
    height: 45px;
  }

  &.-a,
  &.-primary {
    color: $alt-font-color;
    fill: $alt-font-color;
    background-color: $color-primary;

    &:hover {
      box-shadow: $btn-hover-shadow;
      transform: translateY(-2px);
    }

    &.-alt {
      background-color: $body-bg-color;
      color: $color-primary;
      fill: $color-primary;

      &:hover {
        box-shadow: $btn-hover-shadow;
      }
    }

    &.-disabled,
    &[disabled] {
      pointer-events: none;
      cursor: default;
      color: rgba($ui-font-color, 0.5);
      fill: rgba($ui-font-color, 0.5);
      background-color: rgba($ui-font-color, 0.5);
      border-color: $border-color-1;

      &:hover {
        transform: translateY(0);
        box-shadow: none;
      }
    }

  }

  &.-b,
  &.-secondary {
    color: $color-primary;
    fill: $color-primary;
    background-color: $body-bg-color;
    border-color: $btn-border-color;

    &:hover {
      background-color: $btn-bg-hover-color;
    }

    &.-alt {
      background-color: transparent;
      color: $alt-font-color;
      fill: $alt-font-color;
      border-color: $btn-border-alt-color;

      &:hover {
        background-color: $btn-bg-hover-alt-color;
      }
    }

    &.-disabled,
    &[disabled] {
      color: rgba($ui-font-color, 0.5);
      fill: rgba($ui-font-color, 0.5);
      border-color: $border-color-1;
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &.-c,
  &.-tertiary {
    &:not(.-clean):hover {
      background-color: $btn-bg-hover-color;
    }

    &.-alt {
      color: $alt-font-color;
      fill: $alt-font-color;

      &:not(.-clean):hover {
        background-color: rgba($body-bg-color, 0.1);
      }
    }
  }

  &.-fullwidth {
    width: 100%;
    padding-left: $margin-size-extra-small;
    padding-right: $margin-size-extra-small;
  }

  &.-compressed {
    padding-left: $margin-size-extra-small;
    padding-right: $margin-size-extra-small;
    height: 30px;
    font-size: $font-size-small;

    &.-square {
      padding: 0;
      width: 30px;
    }
  }

  &.-clean {
    padding: 0;
    height: auto;
    line-height: normal;
  }

  // font-sizes
  &.-fs-medium {
    font-size: $font-size-medium;
  }

  &.-fs-tiny {
    font-size: $font-size-tiny;
    line-height: 10px;
    font-weight: bold
  }

  &.-facebook {
    display: inline-flex;
    background: #3b5998;
    color: $color-white;
    border-color: #3b5998;

    &:hover {
      background: darken(#3b5998, 10%);
    }
  }

  &.-twitter {
    display: inline-flex;
    background: #55acee;
    color: $color-white;
    border-color: #55acee;

    &:hover {
      background: darken(#55acee, 10%);
    }
  }

  &.-google {
    display: inline-flex;
    background: #D62D20;
    color: $color-white;
    border-color: #D62D20;

    &:hover {
      background: darken(#D62D20, 10%);
    }
  }

  &.-underline {
    text-decoration: underline;
  }
}

.buttons {
  margin-top: $margin-size-small;

  &.-align-center {
    justify-content: center;
  }

  &.-align-left {
    justify-content: flex-start;
    flex-wrap: wrap;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      .c-btn,
      .c-button {
        margin-top: $margin-size-extra-small;
        &:not(:last-child) {
          margin-right: $margin-size-extra-small;
        }
      }
    }
  }

  &.-align-right {
    justify-content: flex-end;

    .c-btn,
    .c-button {
      margin-left: $margin-size-extra-small;
    }
  }

  &.-align-between {
    justify-content: space-between;
  }
  @media screen and (max-width: map-get($breakpoints, medium)) {
    .c-btn,
    .c-button {
      margin-top: $margin-size-extra-small;
      width: 100%;
      padding-left: $margin-size-small;
      padding-right: $margin-size-small;
    }
  }
  @media screen and (min-width: map-get($breakpoints, medium)) {
    display: flex;
    justify-content: space-between;
  }
}
