$btn-bg-hover-color: rgba(195, 45, 123,0.05);
$btn-bg-hover-alt-color: rgba(255, 255, 255, 0.1);
$btn-border-color: rgba(195, 45, 123, 0.3);
$btn-border-alt-color: rgba(255, 255, 255, 0.3);
$btn-hover-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);

.c-button, .c-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;

  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;

  background: none;

  color: $color-primary;
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  font-family: inherit;
  letter-spacing: 0;
  line-height: 0.8;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;

  appearance: none;

  transition: all .16s ease-in-out;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &.-a, &.-b, &.-c,
  &.-primary, &.-secondary, &.-tertiary {
    padding: 0 $margin-size-small;
    height: 45px;
  }

  &.-a, &.-primary {
    color: $alt-font-color;
    background-color: $color-primary;

    &:hover {
      box-shadow: $btn-hover-shadow;
      transform: translateY(-2px);
    }

    &.-alt {
      background-color: $body-bg-color;
      color: $color-primary;

      &:hover{
        box-shadow: $btn-hover-shadow;
      }
    }
  }

  &.-b, &.-secondary {
    color: $color-primary;
    background-color: $body-bg-color;
    border-color: $btn-border-color;
    &:hover {
      background-color: $btn-bg-hover-color;
    }
    &.-alt {
      background-color: transparent;
      color: $alt-font-color;
      border-color: $btn-border-alt-color;
      &:hover{
        background-color: $btn-bg-hover-alt-color;
      }
    }

    &[disabled], &.-disabled {
      color: rgba($ui-font-color, 0.5);
      border-color: $border-color-1;
      cursor: default;

      &:hover{
        background-color: transparent;
      }
    }
  }

  &.-c, &.-tertiary {
    &:hover {
      background-color: $btn-bg-hover-color;
    }
    &.-alt {
      color: $alt-font-color;

      &:hover{
        background-color: rgba($body-bg-color, 0.1);
      }
    }
  }

  &.-fullwidth {
    width: 100%;
    padding-left: $margin-size-extra-small;
    padding-right: $margin-size-extra-small;
  }

  &.-compressed {
    padding-left: $margin-size-extra-small;
    padding-right: $margin-size-extra-small;
    height: 30px;
  }
}

.buttons {
  margin-top: $margin-size-small;

  &.-align-center {
    justify-content: center;
  }

  &.-align-left {
    justify-content: flex-start;
    .c-btn, .c-button {
      margin-right: $margin-size-extra-small;
    }
  }

  &.-align-right {
    justify-content: flex-end;
    .c-btn, .c-button {
      margin-left: $margin-size-extra-small;
    }
  }

  &.-align-between {
    justify-content: space-between;
  }

  @media screen and (max-width: map-get($breakpoints, medium)) {
    .c-btn, .c-button {
      margin-top: $margin-size-extra-small;
      width: 100%;
      padding-left: $margin-size-small;
      padding-right: $margin-size-small;
    }
  }

  @media screen and (min-width: map-get($breakpoints, medium)) {
    display: flex;
    justify-content: space-between;
  }
}
