.c-button {
  appearance: none;
  display: inline-block;
  margin: 0;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: none;
  outline: none;
  text-align: center;
  text-transform: none;
  font-size: $font-size-big;
  font-weight: $font-weight-regular;
  font-family: inherit;
  letter-spacing: 0;
  cursor: pointer;
  color: $color-secondary;
  text-decoration: none;

  // Types
  &.-primary {
    color: $color-primary;
    background: $color-white;
    border-color: $color-primary;

    // States
    &:hover {
      color: $color-white;
      background: $color-primary;
    }

    &.-active {
      background: $color-green;
      color: $color-white;
      border-color: $color-green;

      &:hover {
        background: darken($color-green, 10%);
      }
    }

    &.-disabled {
      background: $color-white;
      border-color: $border-color-1;
      color: $color-text-2;
      cursor: default;
    }
  }

  // Helpers
  &.-fullwidth {
    width: 100%;
  }
}
