.c-button {
  appearance: none;
  display: inline-block;
  margin: 0;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: none;
  outline: none;
  text-align: center;
  text-transform: none;
  font-size: $font-size-big;
  font-weight: $font-weight-regular;
  font-family: inherit;
  letter-spacing: 0;
  cursor: pointer;
  color: $color-secondary;
  text-decoration: none;
  white-space: nowrap;

  // Types
  &.-primary {
    color: $color-primary;
    background: $color-white;
    border-color: $color-primary;

    // States
    &:hover {
      background: rgba(195,45,123,0.05);
    }

    &.-active {
      background: $color-green;
      color: $color-white;
      border-color: $color-green;

      &:hover {
        background: darken($color-green, 10%);
      }
    }

    &.-disabled {
      background: $color-white;
      border-color: $border-color-1;
      color: $color-text-2;
      cursor: default;
    }
  }


  &.-secondary {
    color: $color-white;
    background: $color-primary;
    border-color: $color-primary;

    // States
    &:hover {
      box-shadow: 0 5px 20px rgba($color-black, 0.1);
    }

    &.-disabled {
      background: $color-white;
      border-color: $border-color-1;
      color: $color-text-2;
      cursor: default;
    }
  }

  &.-tertiary {
    color: $color-primary;
    background: $color-white;
    border-color: $color-white;

    // States
    &:hover {
      background: rgba(195,45,123,0.05);
    }

    &.-disabled {
      background: $color-white;
      border-color: $border-color-1;
      color: $color-text-2;
      cursor: default;
    }
  }

  // Paddings
  &.-compressed {
    padding: 6px 16px;
  }

  &.-expanded {
    padding: 12px 32px;
  }

  // Sizes
  &.-fullwidth {
    width: 100%;
  }
}
