.c-card {
  position: relative;
  width: 100%;
  background: $white;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  border: 1px solid $border-color-1;
  border-radius: 4px;

  .card-container {
    padding: $margin-size-small;
  }

  .card-header {
    > * {
      margin: 4px 0 0;

      &:first-child {
        margin: 0;
      }
    }
  }

  .card-content {
    margin: $margin-size-extra-small 0 0;
  }

  .card-actions {
    margin: $margin-size-extra-small 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

}
