$padding-left: 75px;
$padding-right: 75px;

.c-table {
  .table {
    border-collapse: collapse;
    border: 1px solid rgba($border-color-1, .54);
    width: 100%;
    padding: $space-1;

    li {
      list-style: none;
    }

    thead {
      background-color: $color-white;


      th {
        position: relative;
        font-size: 14px;
        text-transform: uppercase;
        color: $color-mid-grey;
        letter-spacing: 2.2px;
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 25px;

        .filter-action {
          fill: $color-mid-grey;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid rgba($border-color-1, .3);
        background-color: $color-white;

        &:last-child {
          border: 0;
        }

        &.-selected {
          // background-color: $color-secondary;
        }
      }

      td {
        padding: 15px 30px;
        color: rgba($color-text-1, .5);
        font-size: $font-size-default;

        &:last-child { border-right: 1px solid rgba($border-color-1, .54); }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .individual-actions {
        > ul {
          display: flex;
          margin: 0;

          > li {
            margin-right: 20px;

            &:last-child {
              margin: 0;
            }
          }
        }

        a {
          color: $color-secondary;
          font-size: $font-size-default;
          text-decoration: none;

          &:hover {
            opacity: .5;
          }
        }
      }
    }
  }

  .th-wrapper {
    display: flex;
    align-items: flex-end;

    ul {
      margin: 0;
      margin-left: 10px;
    }
  }

  .table-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $space-1;
    margin-top: 10px;
  }

  .c-paginator {
    margin-bottom: 20px;
  }
}
