
.c-custom-select {
  position: relative;
  border-bottom: 1px solid palette(blue, light);
  cursor: pointer;
  width: 100%;
  border: 1px solid $border-color-1;
  border-radius: 3px;
  height: 50px;

  &.-fixed {
    max-width: 200px;
  }

  &.-disabled {
    pointer-events: none;
    opacity: .4;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid palette(blue, light);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
  }

  &.-closed {
    .custom-select-search {
      display: none;
    }

    &:after {
      transform: rotate(180deg);
    }
  }

  &.-search:not(.-closed) {
    .custom-select-text > div {
      display: none;
    }
  }

  .icon-btn {
    display: flex; // Vertically align the icon
    border: 0;
    background: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .no-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    line-height: 1.1;
    font-style: italic;
    color: palette(blue);
    background-color: $color-white;
    font-size: $font-size-big;
    box-shadow: 0 -2px 4px 0 rgba(33, 62, 118, 0.09), 0 2px 4px 0 rgba(33, 62, 118, 0.09);
  }

  .custom-select-text {
    font-size: $font-size-big;
    font-weight: normal;
    line-height: 2;
    color: palette(white);
    display: block;
    width: 100%;
    position: relative;
    min-height: 33px;
    height: 100%;

    > div {
      user-select: none;
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      overflow: hidden;
      height: 100%;
      white-space: nowrap;
      line-height: 17px;
      align-items: center;
      // Don't capitalise the text here because the case of the
      // content of the input won't match the case of the text
      // when the focus is somewhere else
    }
  }

  .custom-select-options {
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background-color: $color-white;
    z-index: 999;
    box-shadow: 0 -2px 3px 0 rgba(33, 62, 118, 0.09), 0 2px 3px 0 rgba(33, 62, 118, 0.09);
    max-height: 400px;
    margin: 0;
    padding: 0 0;
    overflow-y: auto;

    li {
      display: flex;
      justify-content: space-between;
      color: $color-text-headers;
      font-size: $font-size-big;
      font-weight: normal;
      line-height: 2;
      cursor: pointer;
      line-height: 1.1;
      align-items: center;

      &.title {
        color: $color-primary;
        justify-content: flex-start;
        border-bottom: 1px solid $border-color-1;
        padding: 12px 12px;

        .c-icon {
          fill: $color-primary;
          margin-right: 10px;
        }

        &:hover {
          background-color: $color-white;
          color: $color-primary;
        }
      }

      &:hover {
        background-color: rgba($color-charcoal-grey, .05);
        color: $color-secondary;
      }

      &.-selected {
        background-color: rgba($color-charcoal-grey, .05);
      }

      & .label {
        flex-grow: 1;
        display: inline-block;
        padding: 12px 12px;
        text-transform: capitalize;
      }

      .next {
        padding: 17px;
        height: 100%;

        &:hover {
          background-color: rgba(#4a81b9, .05);
        }
      }
    }
  }

  .custom-select-search {
    background-color: transparent;
    cursor: pointer;
    color: $color-white;
    outline: none;
    border: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    // padding-bottom: 2px;
    z-index: 10;
    padding: 10px 20px;
    font-family: $base-font-family;
  }
}
