.c-dataset-table {
  margin: 30px 0 0;

  &__header {
    border: 1px solid rgba(26, 28, 34, 0.1);
    border-radius: 5px 5px 0 0;

    h4 {
      padding: 0 20px;
      margin: 0;

      color: #393F44;

      font-size: 16px;
      font-weight: 800;
      line-height: 55px;
    }
  }

  &__table {
    width: 100%;

    th, td {
      text-align: left;
    }

  }

  &__container {
    width: 100%;
    border: 1px solid rgba(26,28,34,0.1);
    border-top: 0px;
    padding: 20px;
    border-radius: 0 0 5px 5px;
  }

  &__cta {
    display: block;
    margin: 30px auto 10px auto;
  }

}

