.c-dropdown {
  display: none;
  position: absolute;
  cursor: pointer;
  background-color: $color-white;
  border-radius: 5px;
  z-index: 5;
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
  margin-top: 10px;


  &.-active {
    display: flex;
  }

  &.-arrow{
    &-right {
      &:after {
        content: '';
        position: absolute;
        right: 20px;
        margin-top: -14px;
        border-top: 7px solid $color-white;
        border-bottom: 7px solid transparent;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        transform: rotate(180deg);
      }
    }
    &-left {
      &:after {
        content: '';
        position: absolute;
        left: 20px;
        margin-top: -14px;
        border-top: 7px solid $color-white;
        border-bottom: 7px solid transparent;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        transform: rotate(180deg);
      }
    }
  }
}
