$menu-item-color: $color-white;
$menu-link-color: $color-white;

.c-menu {
  &.-align-right {
    display: flex;
    justify-content: flex-end;
  }

  > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      margin-left: 1rem;
      margin-right: 1rem;

      font-size: 16px;
      color: $menu-item-color;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      > a {
        color: $menu-item-color;
        text-decoration: none;
      }
    }
  }
}
