.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-black, .3);
  transition: all $animation-time $ease-in-sine;
  z-index: 100000; // Just to be sure that is over all the content
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  // Active styles
  &.-hidden {
    opacity: 0;
    visibility: hidden;

    .modal-container {
      transform: translateY(-35px);
    }
  }

  &.no-borders {
    .modal-content {
      padding: 0px;
      max-height: 100vh;
      width: auto;
    }
    .modal-container {
      width: auto;
      border-radius: 4px;
    }
  }

  .modal-container {
    transition: transform $animation-time-2 $ease-out-cubic;
    transform: translateY(0);
    display: flex;
    position: relative;
    width: calc(100% - 50px);
    max-width: $max-width-modal;
    background: white;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    z-index: 1;
  }

  .modal-content {
    position: relative;
    width: 100%;
    max-height: 85vh; // Be careful with iOS devices
    min-height: 150px;
    overflow: auto;
    padding: $space-1 * 3;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);

    @media screen and (min-width: map-get($breakpoints, medium)) {
      padding: $space-1 * 9;
    }
  }

  .modal-close {
    fill: $color-black;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 2; /* Otherwise, it won't be reachable */

    &:hover {
      svg { fill: $color-primary; }
    }
  }

  .modal-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }


  // THEMES
  &.-menu {
    .modal-container {
      background: $color-primary;
    }

    .modal-content {
      padding: ($space-1 * 3);

      @media screen and (min-width: map-get($breakpoints, medium)) {
        padding: $space-1 * 8;
      }
    }

    .modal-close {
      fill: white;
      width: 80px;
      height: 80px;

      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  // SIZES
  &.-medium {
    .modal-container {
      max-width: $max-width-modal-medium;
    }
  }
}
