.c-paginator {
  overflow: hidden;

  .rc-pagination {
    position: relative;
    display: flex;
    align-items: center;
    left: 50%;
    float: left;
    font-size: 12px;
    font-family: 'Arial';
    user-select: none;
    margin: 0 auto;
    padding: 0;
    transform: translate(-50%,0);

    &:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }

    &-total-text {
      float: left;
      height: 30px;
      line-height: 30px;
      margin-right: 10px;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 6px;
      min-width: 28px;
      height: 35px;
      line-height: 28px;
      padding-left: 14px;
      padding-right: 14px;
      text-align: center;
      list-style: none;
      float: left;
      background-color: $color-white;
      margin-right: 8px;
      border: 1px solid $color-pale-grey;

      a {
        text-decoration: none;
        color: #666;
      }


      &:hover {
        border: 1px solid $color-secondary;
        a {
          color: $color-secondary;
        }
      }

      &-active {
        background-color: $color-secondary;
        border-color: $color-secondary;

        a {
          color: $color-white;
        }

        &:hover {
          a {
            color: $color-white;
          }
        }
      }
    }

    &-jump-prev, &-jump-next {
      &:after {
        content: "...";
        display: block;
        letter-spacing: 2px;
        color: #ccc;
        font-size: 12px;
        margin-top: 1px;
      }

      &:hover {
        &:after {
          color: $color-secondary;
        }
      }
    }

    &-jump-prev {
      &:hover {
        border: 1px solid $color-secondary;

        &:after {
          color: $color-black;
        }
      }
    }

    &-jump-next {
      &:hover {
        border: 1px solid $color-secondary;

        &:after {
          color: $color-black;
        }
      }
    }

    &-prev {
      margin-right: 8px;
    }

    &-prev, &-next, &-jump-prev, &-jump-next {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #666;
      font-size: 10px;
      height: 45px;
      border-radius: 6px;
      list-style: none;
      min-width: 28px;
      padding-left: 16px;
      padding-right: 16px;
      line-height: 28px;
      float: left;
      text-align: center;
      background-color: $color-primary;
    }

    &-jump-prev, &-jump-next {
      height: 35px;
      background-color: transparent;
      padding-left: 8px;
      padding-right: 8px;
    }

    &-prev,
    &-next {
       a {
        &:after {
          display: block;
          color: $color-white;
          font-weight: normal;
          font-size: 13px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }

    &-prev {
      a {
        &:after {
          content: "Prev";
        }
      }
    }

    &-next {
      a {
        &:after {
          content: "Next";
        }
      }
    }

    &-prev, &-next {
      border: 1px solid $border-color-1;
      font-size: 18px;
      
      &:hover {
        background-image: linear-gradient(to bottom, #ae286e, #a01d61);
      }

      a {
        color: #666;
      }
    }

    &-disabled {
      cursor: not-allowed;
      a {
        color: #ccc;
      }
    }

    &-options {
      float: left;
      margin-left: 15px;
      &-size-changer {
        float: left;
        width: 80px;
      }

      &-quick-jumper {
        float: left;
        margin-left: 16px;
        height: 28px;
        line-height: 28px;

        input {
          margin: 0 8px;
          box-sizing: border-box;
          background-color: $color-white;
          border-radius: 6px;
          border: 1px solid $border-color-1;
          outline: none;
          padding: 3px 12px;
          width: 50px;
          height: 28px;

          &:hover {
            border-color: $color-secondary;
          }
        }
      }
    }

    &-simple {
      .rc-pagination-prev, .rc-pagination-next {
        border: none;
        height: 24px;
        line-height: 24px;
        margin: 0;
        font-size: 18px;
      }

      .rc-pagination-simple-pager {
        float: left;
        margin-right: 8px;

        .rc-pagination-slash {
          margin: 0 10px;
        }

        input {
          margin: 0 8px;
          box-sizing: border-box;
          background-color: $color-white;
          border-radius: 6px;
          border: 1px solid $border-color-1;
          outline: none;
          padding: 5px 8px;
          width: 30px;
          min-height: 20px;

          &:hover {
            border-color: $color-secondary;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .rc-pagination-item {
      &-after-jump-prev,
      &-before-jump-next {
        display: none;
      }
    }
  }
}
