.c-rc-tooltip {
  opacity: 1;
  padding: 0;
  background: none;
  font-size: inherit;

  .rc-tooltip-inner {
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
  }

  .rc-tooltip-arrow {
    display: none;
    z-index: 2;
    border-top-color: currentColor;
    border-bottom-color: currentColor;
  }
}
