.c-search-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  > * {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  > .c-field {
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
      fill: $color-text-1;
    }
  }
}
