
.c-explore-slider-tooltip {
  min-width: 150px;
  padding: 8px 0 0;

  // Title
  h4 {
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
    margin: 0;
  }

  // Actions
  .slider-tooltip-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  // Slider
  .slider-tooltip-container {
    // padding: 0 4px;
  }

  /* Slider override */
  .rc-slider {
    cursor: pointer;
    margin: 10px 0 5px;
  }

  .rc-slider-track {
    background-color: $color-primary;
    height: 2px;
    top: 50%;
    margin: -1px 0 0;
  }

  .rc-slider-rail {
    height: 2px;
    top: 50%;
    margin: -1px 0 0;
  }

  .rc-slider-step {
    height: 2px;
    top: 50%;
    margin: -1px 0 0;
  }

  .rc-slider-handle {
    width: 16px;
    height: 16px;
    top: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    border-color: $color-white;
    background-color: $color-primary;

    &:focus,
    &:hover, {
      border-color: $color-white;
      outline: none;
    }
  }


  .input-range__track {
    height: 2px;

    &.input-range__track--active {
      background-color: $color-primary;
    }
  }

  .input-range__label-container {
    display: none;
  }

  .input-range__slider {
    margin-top: -8px;
    width: 17px;
    height: 17px;
    border-color: $color-white;
    background-color: $color-primary;

    &:focus,
    &:hover, {
      border-color: $color-white;
      outline: none;
    }
  }
}
