@use "sass:math";

$switch-width: 28px;

.c-switch-options {
  display: flex;
  align-items: center;
  font-size: $font-size-small;

  > * {
    display: block;
    margin: 0 0 0 5px;
    cursor: pointer;

    &:first-child {
      margin: 0;
    }
  }

  .switch-label {
    font-weight: 700;
    color: lighten($charcoal-grey, 25%);

    &:hover {
      color: lighten($charcoal-grey, 12.5%);
    }

    &.-selected {
      color: $charcoal-grey;
    }
  }

  .switch-element {
    width: $switch-width;
    height: math.div($switch-width, 2);
    border-radius: 20px;
    background: $blue-grey;

    span {
      display: block;
      position: absolute;
      width: math.div($switch-width, 2) - 4px;
      height: math.div($switch-width, 2) - 4px;
      background: $dark-pink;
      border-radius: 50%;
      margin: 2px;
      transition: transform $animation-time $ease-in-out-sine;
    }

    // Switch position
    &.-left > span { transform: translate(0,0); }
    &.-right > span { transform: translate(math.div($switch-width, 2),0); }
  }
}
