.c-table {
  .table {
    border-collapse: collapse;
    border: none;
    width: 100%;
    padding: $space-1;

    li {
      list-style: none;
    }

    thead {
      background-color: $color-white;
      border-bottom: 1px solid rgba($border-color-1, .3);

      th {
        position: relative;
        font-size: $font-size-big;
        color: $color-text-1;
        font-weight: 500;
        white-space: nowrap;

        padding: $space-1 * 2 $space-1 * 2 $space-1;

        .filter-action {
          fill: $color-mid-grey;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid rgba($border-color-1, .3);
        background-color: $color-white;

        &:last-child {
          border: 0;
        }

        &.-selected {
          // background-color: $color-secondary;
        }
      }

      td {
        padding: $space-1 * 2;
        color: rgba($color-text-1, .5);
        font-size: $font-size-big;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .individual-actions {
        > ul {
          display: inline-flex;
          margin: 0;
          padding: 0;

          > li {
            margin-right: 20px;

            &:last-child {
              margin: 0;
            }
          }
        }

        a {
          color: $color-primary;
          font-size: $font-size-big;
          text-decoration: none;

          &:hover {
            color: darken($color-primary, 10%);
          }
        }
      }
    }
  }

  .th-wrapper {
    display: flex;
    align-items: flex-end;

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      margin-left: 10px;
    }
  }

  .table-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $space-1;
    margin-top: 10px;
  }

  .c-paginator {
    margin-bottom: 20px;
  }

  // CUSTOM TDs
  // Main
  td.main {
    color: $color-text-1;

    a {
      color: $color-text-1;
      text-decoration: none;

      &:hover {
        color: darken($color-text-1, 10%);
        text-decoration: underline;
      }
    }
  }

  // Related content
  td.related-content {
    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      > li {
        margin: 0 0 0 $space-1;
        &:first-child { margin: 0; }

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $color-text-1;
          fill: $color-text-1;
          padding: $space-1 / 2 6px;
          border-radius: 4px;
          font-size: $font-size-default;

          > * {
            margin: 0 0 0 $space-1/2;
            &:first-child { margin: 0; }
          }

          &.-empty {
            color: $color-white;
            fill: $color-white;
            background: $color-mango;
          }

          &:hover {
            color: $color-white;
            fill: $color-white;
            background: $color-text-1;
          }
        }
      }
    }
  }

  // Status
  td.status {
    &:before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-right: 5px;
      margin-bottom: 1px;
    }

    &.-success,
    &.-saved,
    &.-completed {
      color: $color-green;
      &:before { background-color: $color-green; }
    }

    &.-pending {
      color: $color-mid-grey;
      &:before { background-color: $color-mid-grey; }
    }

    &.-failed {
      color: $color-mango;
      &:before { background-color: $color-mango; }
    }

    &.-deleted {
      color: $color-error;
      &:before { background-color: $color-error; }
    }
  }
}
