.c-table-header-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  > .c-field {
    position: relative;
    margin-right: 20px;

    svg {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
      fill: $color-text-1;
    }
  }

  > .c-button {
    flex-basis: 140px;
    flex-shrink: 0;
  }
}
