.c-tooltip {
  position: fixed;
  padding: $margin-size-extra-small;
  background-color: $color-white;
  border-radius: 4px;
  border: 1px solid $border-color-1;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .1);
  z-index: 10001;
  // is it affecting other places?
  pointer-events: none;

  &.-arrow {
    &-top {
      .tip {
        display: block;
        position: absolute;
        top: -8px;
        left: 50%;
        width: 15px;
        height: 15px;
        background-color: $color-white;
        border: 1px solid rgba(26, 28, 34, .1);
        border-bottom-color: transparent;
        border-left-color: transparent;
        transform: translateX(-50%) rotate(-45deg);
        content: '';
      }
    }

    &-bottom {
      .tip {
        display: block;
        position: absolute;
        bottom: -8px;
        left: 50%;
        width: 15px;
        height: 15px;
        background-color: $color-white;
        border: 1px solid rgba(26, 28, 34, .1);
        border-top-color: transparent;
        border-left-color: transparent;
        transform: translateX(-50%) rotate(45deg);
        content: '';
        z-index: -1;
      }
    }

    // TODO: Legacy, check if used somewhere
    &-right {
      &:after {
        content: '';
        position: absolute;
        right: 8px;
        top: -14px;
        border-top: 7px solid $color-white;
        border-bottom: 7px solid transparent;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        transform: rotate(180deg);
      }
    }
    &-left {
      &:after {
        content: '';
        position: absolute;
        left: 20px;
        top: -14px;
        border-top: 7px solid $color-white;
        border-bottom: 7px solid transparent;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        transform: rotate(180deg);
      }
    }
  }

  .divisor {
    height: 0;
    border-top: 1px solid $border-color-1;
    margin: $margin-size-extra-small 0;
  }
}

.c-tooltip-invisible-div {
  position: absolute;
  width: 1px;
  height: 1px;
}
