.c-tree-selector {

    /* component styles */
  .hide {
    display: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    border-top: rgba(0, 0, 0, 0.05) 1px solid;
    background: #ffffff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  }

  .dropdown--active .dropdown-content {
      display: block;
  }

  .dropdown-content {
    padding: 10px;
    overflow: auto;
  }

  .dropdown-content ul {
    margin: 0;
    padding: 0;
  }

  .dropdown-trigger {
    border: 1px solid rgb(185,185,185);
    border-radius: 1px;
    padding: 4px;
    line-height: 20px;
    display: inline-block;
    max-height: 200px;
    overflow: auto;
  }

  .dropdown-trigger > span:after {
    content: '\25BC';
    cursor: pointer;
    margin: 0 0 0 -10px;
  }

  .dropdown--active .dropdown-trigger > span:after {
    content: '\25B2';
  }

  .dropdown-trigger input {
    border: none;
    outline: none;
    padding-right: 12px;
  }

  * {
    box-sizing: border-box;
  }

  h2 {
    margin: 0;
  }

  .suspended .node-label {
    font-style: italic;
    text-decoration: line-through;
  }

  .dropdown-content {
    max-height: 400px;
  }

  .node .fa {
    font-size: 12px;
    margin-left: 4px;
    cursor: pointer;
  }

  .node .fa-ban {
    color: darkorange;
  }

  .node {
  list-style: none;
  white-space: nowrap;
  padding: 4px;
}

.searchModeOn li.node {
  padding-left: 0 !important;
}

.searchModeOn .toggle {
  display: none;
}

.toggle {
  white-space: pre;
  margin-right: 4px;
}

.toggle:after {
  content: " ";
}

.toggle.collapsed:after {
  cursor: pointer;
  content: "+";
}

.toggle.expanded:after {
  cursor: pointer;
  content: "-";
}

.node.leaf.collapsed {
  display: none;
}

.checkbox-item {
  vertical-align: middle;
  margin: 0 4px 0 0;
}

.tag {
  background-color: #f4f4f4;
  border: 1px solid #E9E9E9;
  padding: 2px 0 2px 2px;
  border-radius: 2px;
  display: inline-block;
}

.tag-remove {
  color: #a0a0a0;
  font-size: 75%;
  line-height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.node > label {
  cursor: pointer;
  margin-left: 2px;
}

.tag-list {
  display: inline;
  padding: 0;
  margin: 0;
}

.tag-item {
  display: inline-block;
  margin: 4px;
}

.tag-item:last-child {
  margin-right: 4px;
}

}
