.c-tree-selector {
  cursor: pointer;

  .dropdown-content {
    display: none;
    position: absolute;
    border-top: rgba($black, .05) 1px solid;
    background: $white;
    box-shadow: 0 5px 8px rgba($black, .15);

    .node {
      display: flex;
      align-items: center;
      padding: 5px 10px;

      &.hide {
        display: none;
      }

      > label {
        position: relative;
        padding: 0 0 0 10px;
      }


      &:not(.parent-category) {
        > .toggle {
          visibility: hidden;
          pointer-events: none;
        }
      }

      .node-label {
        display: flex;
        align-items: center;

        font-size: $font-size-medium;
        color: $dove-grey;

        cursor: pointer;

        &::before {
          content: '';
          display: inline-block;
          width: 15px;
          height: 15px;
          margin: 0 10px 0 0;
          border: 1px solid $light-grey;
          pointer-events: none;
        }
      }

      input[type="checkbox"] {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 16px;
        height: 16px;
        opacity: 0;
        cursor: pointer;

        &:checked + .node-label::before {
          content: '✔';
          color: $white;
          background: $blue-turquoise;
          border: 1px solid transparent;
          line-height: .9;
        }
      }

      &:hover {
        background: $porcelain;
      }
    }
  }

  .dropdown--active {
    position: relative;

    > .dropdown-trigger {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    > .dropdown-content {
      overflow: auto;
      display: block;
      max-height: 400px;
      width: 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      > ul {
        margin: 0;
        padding: 0;
      }
    }

    .tag-list {

      &:after {
        position: absolute;
        top: calc(50% + 1px);
        right: 0;
        @include arrow(8px, 2px, $color-primary, up);
        transform: rotate(45deg) translate(0, -50%);

        cursor: pointer;
      }
    }
  }

  .dropdown-trigger {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid $border-color-2;
    border-radius: 4px;
    overflow: auto;

    &:hover {
      text-decoration: none;
    }

    > span {
      display: inline-block;
      width: 100%;
    }

    input {
      border: none;
      outline: none;
    }
  }

  .searchModeOn li.node {
    padding-left: 0 !important;
  }

  .searchModeOn .toggle {
    display: none;
  }

  .toggle {
    position: relative;
    width: 12px;
    height: 12px;
    margin: 0 0 0 15px;
    cursor: pointer;
  }

  .toggle.collapsed:after {
    position: absolute;
    top: 50%;
    left: -2px;
    @include arrow(8px, 2px, $color-primary, right);
    transform: rotate(45deg) translate(0, -50%);

    cursor: pointer;
  }

  .toggle.expanded:after {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    @include arrow(8px, 2px, $color-primary, down);
    transform: rotate(45deg) translate(0, -50%);

    cursor: pointer;
  }

  // tags styles
  .tag-list {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    &:after {
      position: absolute;
      top: calc(50% - 2px);
      right: 0;
      @include arrow(8px, 2px, $color-primary, down);
      transform: rotate(45deg) translate(0, -50%);

      cursor: pointer;
    }

    > .tag-item {
      display: inline-block;
      cursor: pointer;

      &.selected-item {
        margin-top: 10px;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:last-child {
        margin-top: 0;
        display: flex;
        flex: 1;

        > input[type="text"] {
          width: 100%;
        }
      }

      > .tag {
        position: relative;
        padding: 4px 20px 4px 10px;
        border-radius: 15px;

        background: $color-primary;
        color: $white;
      }

      > .tag > .tag-remove {
        position: absolute;
        top: 50%;
        right: 7px;
        transform: translate(0, -50%);
        padding: 0;
        margin: 0;
        color: $white;
        cursor: pointer;
      }

      // selector placeholder
      > input[type="text"] {
        font-family: $body-font-family;
        font-size: $font-size-medium;
        color: $body-font-color;
        cursor: pointer;
      }

      & + .tag-item {
        > input[type="text"] {
          margin-top: 10px;
        }
      }
    }
  }
}
