.c-zoom-control {

  position: absolute;
  top: 50px;
  right: 30px;

  button {
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
    padding: rem(4);
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, .3);
    background-color: Transparent;
    border-bottom: 0;

    svg {
      fill: $color-white;
    }

    &:first-child {
      border-radius: 3px 3px 0px 0px;
    }

    &:last-child {
      border-radius: 0px 0px 3px 3px;
      border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    &:focus {
      outline: none;
    }

  }
}
