.c-chart-editor {
  margin-top: 20px;

  .selectors-container {
    display: flex;
    justify-content: space-between;

    .chart-type {
      width: 100%;
      margin-right: 20px;

      h5 {
        margin: 0 0 10px;
        font-size: $font-size-small-medium;
      }
    }

    .area-intersection {
      position: relative; // Needed for the spinner
      width: 100%;

      .area-intersection-selector {
        max-width: none;
      }
    }
  }

  .text-container {
    margin-top: 20px;
  }

  .arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  .actions-div {
    display: flex;
    margin-top: 14px;
    justify-content: flex-start;
    padding-bottom: 20px;

    .customization-container {
      flex-grow: 1;
      border: 1px solid $color-grey;
      padding: 10px;
    }
  }

  .save-widget-container {
    color: $color-dark-pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

    a {
      cursor: pointer;
    }
  }

}
