.c-we-chart-tooltip {
    display: flex;
    font-size: $font-size-default;

  > .labels,
  > .values {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    span {
      display: block;

      & + span {
        margin-top: 10px;
      }
    }
  }

  > .labels {
    margin-right: 20px;
    color: $color-text-3;
  }

  > .values {
    font-weight: $font-weight-bold;
    color: $color-text-1;

    span:first-of-type {
      font-size: $font-size-extra-big;
    }
  }
}