.c-columnbox {
  display: inline-block;
  background-color: $color-blue-turquoise;
  border-radius: 15px;
  color: $color-white;
  padding: 5px 5px 5px 10px;

  .c-icon {
    margin-left: 5px;
    fill: $color-white;

    &.close-button {
      cursor: pointer;
    }
  }

}

.dimmed {
  opacity: 0.5;
}
