.c-columnbox {
  display: inline-flex;
  align-items: center;
  background-color: $color-blue-turquoise;
  font-size: $font-size-default;
  font-weight: $font-weight-regular;
  color: $color-white;
  border-radius: 15px;
  padding: 3px 15px 3px 10px;

  button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .c-icon {
    margin-right: 5px;
    fill: $color-white;

    &.close-button {
      cursor: pointer;
      margin-left: 5px;
    }

    &.configure-button {
      cursor: pointer;
    }
  }

}

.dimmed {
  opacity: 0.5;
}
