.c-column-container {

  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: $font-size-small-medium;
  font-weight: $font-weight-bold;

  .text {
    margin-right: 8px;
  }

  .columnbox-container {
    display: flex;
    align-items: center;
    width: 150px;
    height: 30px;
    border: 1px solid rgba($color-silver, .85);
    border-radius: 4px;
    line-height: 1;

    &.-release {
      border-color: $color-secondary;
    }
  }

}
