.c-columnbox {
  display: inline-flex;
  align-items: center;
  background-color: $color-white;
  color: $color-dark-grey;
  border-radius: 15px;
  padding: 5px 5px 5px 10px;

  .c-icon {
    margin-right: 5px;
    fill: $color-dark-grey;

    &.close-button {
      cursor: pointer;
      margin-left: 5px;
    }

    &.configure-button {
      cursor: pointer;
    }
  }

}

.dimmed {
  opacity: 0.5;
}
