.c-dimensiony-container{
  min-width: 200px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;

  &.-release{
    background-color: $color-white;
  }

  .c-columnbox {
    margin-left: 5px;
  }

}
