.c-filter-container{
  h5 {
    margin: 20px 0 10px;
  }

  .filter-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 30px;
    padding: 5px;
    border: 1px solid rgba($color-silver, .85);
    border-radius: 4px;
    font-size: $font-size-default;
    font-weight: $font-weight-bold;
    line-height: 1;

    &.-release{
      border-color: $color-secondary;
    }

    .c-columnbox {
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }
}
