.c-filter-container{

  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-top: 8px;

  font-size: $font-size-small-medium;
  font-weight: $font-weight-bold;

  .text {
    margin-right: 8px;
  }

  .filter-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 30px;
    max-height: 60px;
    overflow: auto;
    width: 150px;
    padding: $space-1 10px;
    border: 1px solid rgba($color-silver, .85);
    border-radius: 4px;

    line-height: 1;

    &.-release{
      border-color: $color-secondary;
    }

    .c-columnbox {
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }
}
