.c-filter-tooltip {
  position: relative;
  transform: translate(0, 0);
  min-height: 80px;
  min-width: 200px;
  max-width: 502px;

  .filter-tooltip-content {
    max-height: 200px;
    overflow-y: auto;
  }

  .buttons {
    margin-top: $margin-size-extra-small;
  }

  .range {
    width: calc(100% - 40px);
    position: relative;
    top: 0;
    left: 20px;
    margin: 20px 0;

    .input-range {
      // We hide the min and max values
      > .input-range__label {
        display: none;
      }

      // These are the values of the current range
      .input-range__label {
        font-family: $base-font-family;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        color: $base-font-color;
      }

      .input-range__track,
      .input-range__slider-container {
        transition: none;
      }

      .input-range__slider,
      .input-range__track--active {
        background-color: $color-secondary;
        border-color: $color-secondary;
      }
    }
  }

  .text-inputs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    input {
      width: 100%;

      &.-first {
        margin-right: 10px;
      }

      &.-last {
        margin-left: 10px;
      }
    }
  }
}
