.c-raster-chart-editor {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 360px; // Kinda ugly, used to have the buttons at the bottom
  margin-top: 20px;

  .content {
    flex-grow: 1;

    h5 {
      margin: 0 0 5px;
    }

    .Select {
      max-width: none;
    }

    .description {
      margin-top: 20px;
      font-size: $font-size-normal;
    }

    .stats {
      position: relative;
      min-height: 100px;
      margin-top: 20px;

      table {
        display: block;
        width: 100%;
        font-size: $font-size-normal;

        thead, tbody, tr {
          display: block;
          width: 100%;
        }

        th, td {
          display: inline-block;
          width: calc(100% / 6);
        }
      }
    }
  }

  .error {
    span {
      font-weight: $font-weight-bold;
    }
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
