.c-table-view{
  max-height: 580px;
  width: 100%;
  height: 100%;

  overflow: auto;

  // table {
  //   width: 100%;
  //   height: 100%;
  //   border-spacing:0
  // }

  // th {
  //   border-bottom: 1px solid $color-dark-grey;
  //   text-align: left;
  //   padding: 10px;
  // }

  // td {
  //   padding: 10px;
  // }
}
