.c-widget-editor {
  display: flex;
  position: relative;
  background-color: $color-pale-grey;

  .customize-visualization {
    position: relative;
    min-height: 580px;
    max-height: 702px;
    min-width: 522px;
    max-width: 522px;
    margin-top: -20px;
    margin-bottom: -20px;
    flex-basis: 430px;
    flex-shrink: 0;
    flex-grow: 0;
    padding: $margin-size-small;
    border: 1px solid rgba($color-black, .15);
    box-shadow: 0 1px 2px 0 rgba($color-black, .09);
    background-color: $color-white;

    > .title {
      color: $color-dark-pink;
      font-weight: $font-weight-light;
    }

    // h5 {
    //   margin: 0 0 10px;
    //   font-size: $font-size-extra-small;
    // }

    .visualization-type-selector {
      max-width: none;
    }

  }

  .visualization {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-basis: 100%;
    overflow-x: hidden;

    &.-error {
      text-align: center;

      span {
        display: block;
        margin-top: 10px;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
      }
    }

    &.-chart {
      margin-left: 20px;
      // This padding avoids the chart to touch the top and
      // the bottom of the container
      padding: 20px 0;
    }

    > .c-chart {
      display: flex;
      align-items: center;
      height: 100%;
      padding-top: 20px; // Space for the legend

      .chart {
        // The height will be set either by VegaChart or Vega itself
        height: auto;
        overflow-x: auto;

        .vega {
          // We can't use display: flex; here otherwise
          // the user won't be able to see all of the
          // widgets with scrolling (especially the left
          // hand side which will be cut)
          text-align: center;
        }
      }
    }
  }

  // We want the visualisation and the editor to be at the same level
  > .l-container > .row {
    flex-wrap: nowrap;
  }
}
