.c-widget-card {
  position: relative;
  width: 100%;
  background: $color-tertiary;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  cursor: pointer;

  border: 1px solid rgba(26,28,34,0.1);
  border-radius: 4px;

  > a {
    // This rule prevent the textual widget to get
    // an underlined when hovered in My RW > Widgets
    // (you can try starring a widget)
    &:hover { text-decoration: none; }
  }

  .detail {
    position: relative;
    padding-right: 20px;

    > .favourite-button {
      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      cursor: pointer;
    }
  }

  .c-widget-chart {
    .c-chart {
      .chart {
        display: flex;

        canvas {
          // NOTE:
          // Both the width and the height can't be defined because
          // the "self-sizing" charts will be distorted (in My RW >
          // My widgets)
          // Also, if the width is defined, the same charts will be
          // distorted, so the only attribute that can be defined
          // here is height
          height: 100%;
        }
      }
    }
  }

  .info {
    background: $color-white;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;

    .detail {
      margin-bottom: 20px;

      a {
        text-decoration: none;
        color: $color-text-1;
      }

      p {
        margin: 10px 0 0;
        word-break: break-word;
        font-size: $font-size-normal;
        color: $ui-font-color;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .c-button {
        height: 30px;
        padding: 0 10px;
      }
    }
  }

  &.-selected {
    border-color: $color-primary;
  }
}
