.c-we-widget-editor {
  display: flex;
  position: relative;
  padding: 0 10px;
  background-color: $ui-bg-color;

  .visualization {
    position: relative;
    display: flex;
    flex-shrink: 1;
    flex-basis: 100%;
    overflow-x: hidden;
    padding: 15px;
    padding-right: 0;
    justify-content: left;
    align-items: flex-start;

    &.-reduced {
      padding: 15px;
    }

    .chart-title {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      max-width: calc(100% - 60px); // Avoid the title to overlap the legend (when collapsed)
      z-index: 2; // At least 2 to be on top of the map
    }
  }
}
