.c-widget-card {
  width: 100%;
  background: $color-tertiary;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  cursor: pointer;

  border: 1px solid rgba(26,28,34,0.1);
  border-radius: 4px;

  .c-widget-chart {
    .c-chart {
      .chart {
        display: flex;

        canvas {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .info {
    background: $color-white;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;

    .detail {

      a {
        text-decoration: none;
        color: $color-text-1;
      }

      p {
        margin-top: 20px 0 0;
        word-break: break-word;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      height: 30px;

      a {
        color: $color-dark-pink;
        padding: 0px;
        vertical-align: middle;

        &.widget-actions {
          padding: 4px;
          border: 1px solid $color-dark-pink;
        }

        &:not(.widget-actions) {
          padding-top: 4px;
        }
      }


    }
  }

}
