.c-widget-actions-tooltip {

  ul {
    list-style: none;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0px;

    li:not(:last-of-type) {
      margin-bottom: 10px;
    }

    a {
      cursor: pointer;
    }
  }
}
