.c-widget-list {

  > .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    > .list-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      &.-list {
        padding-top: 24px;
        border-top: 1px solid $border-color-1;
      }

      &.-grid {
        .c-widget-card {
          transition: box-shadow .3s, transform .3s;

          &:hover {
            box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
            transform: translateY(-4px);
          }
        }
      }
    }
  }
}
