.c-widget-editor {
  background-color: $color-white;
  padding: 20px;
  h2 {
    color: $color-dark-pink;
  }

  .fields {
    display: flex;
    flex-direction: column;
    .c-columnbox {
      margin-top: 5px;
    }
  }

  .chart-type {
    .chart-type-selector {
      background-color: $color-dark-pink;
      color: $color-white;
    }
  }

  .dimensions-box {
    .dimension-box {
      border-style: solid;
      border-width: 1px;
      padding: 5px;
    }
  }

  .actions-div {
    display: flex;
    justify-content: flex-start;
  }

}
