.c-widget-card {
  position: relative;
  width: 100%;
  background: $color-tertiary;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  border: 1px solid rgba(26,28,34,0.1);
  border-radius: 4px;

  .widget-collections {
    display: flex;
    justify-content: flex-start;
    padding: 6px 15px;

    button {
      cursor: pointer;
      margin: 0;
      padding: 0;
      font-size: $font-size-small;
      color: $color-dark-grey;
    }
  }

  .c-widget-chart {
    .c-chart {
      .chart {
        display: flex;

        canvas {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .info {
    background: $color-white;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;

    .detail {
      margin-bottom: 20px;

      a {
        text-decoration: none;
        color: $color-text-1;
      }

      p {
        margin: 10px 0 0;
        word-break: break-word;
        font-size: $font-size-normal;
        color: $ui-font-color;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      height: 30px;

      .c-button {
        height: 30px;
        padding: 0 10px;
      }
    }
  }

  .star-icon {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;

    svg {
      fill: #FAB72E;
    }
  }

}
