$translate-dropdown: 5px;

.c-layer-menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  background: $color-white;
  border-radius: 4px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  transform: translate(0,$translate-dropdown);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $translate-dropdown;
    background: transparent;
    transform: translate(0, -$translate-dropdown);
  }


  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 30px;
    width: 12px;
    height: 12px;
    background: $color-white;
    transform: rotate(45deg) translate(0, -50%);
  }

  > ul {
    list-style: none;
    margin: 0;
    padding: 8px 16px;

    > li {
      display: flex;
      align-items: center;
      padding: 8px 0;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      .name {
        // Dangerous?
        white-space: nowrap;
        display: flex;
        margin: 0 0 0 5px;
      }
    }
  }
}
