.c-layer-card {
  position: absolute;
  top: 200px;
  left: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  max-width: 400px;
  border-radius: 4px;
  z-index: 7;
  overflow: auto;
  max-height: calc(100% - 200px - 100px);

  h3, h5 {
    color: $color-dark-pink;
    margin: 0px;
  }

  &.-hidden {
    display: none;
  }

  .source-container {
    font-size: $font-size-extra-small;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .description {
    .view-with-container {
      .view-with-label {
        margin-right: 10px;
        font-size: $font-size-small;
      }
      .layer-pill {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    .c-button {
      padding: 5px;
      height: 25px;
      transition: none;
    }
  }

  .rotate-globe-button {
    padding: 5px;
    height: 30px;
    margin-top: 5px;
  }

  .legends {
    .layer-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      margin-bottom: -10px;
      text-transform: uppercase;
      font-size: $font-size-extra-small;
      font-weight: bold;

      button {
        padding: 0px;
        cursor: pointer;

        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .widget-card {
    cursor: pointer;
    width: 100%;

    .c-we-chart {
      overflow: auto;
    }
  }

  .card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link_button {
      text-transform: uppercase;
      padding: 0px 5px 0px 5px;
    }
  }

  @media screen and (max-width: map-get($breakpoints, medium)) {
    position: relative;
    top: -3px;
    left: 0;
    max-width: none;
    margin: 0 3px;
    padding: 0 29px 20px 29px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    h3 {
      display: none;
    }
  }
}
