.c-layer-card {
  position: absolute;
  top: 200px;
  left: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  max-width: 400px;
  max-height: calc(100% - 200px - 100px);
  border-radius: 4px;
  z-index: 999;
  overflow: auto;

  h3, h5 {
    color: $color-dark-pink;
  }

  h5 {
    margin: 0px;
  }

  &.-hidden {
    display: none;
  }

  .description {
    min-height: 55px;
    max-height: 100px;
    overflow: auto;

    p {
      margin-bottom: 0px;
    }

    .c-button {
      padding: 5px;
      height: 25px;
    }
  }

  .similar-widgets {
    overflow: auto;
    display: flex;
    flex-direction: column;

    .widget-card {
      cursor: pointer;
      width: 100%;

      .c-chart {
        overflow: auto;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link_button {
      text-transform: uppercase;
      color: $color-dark-pink;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
