.c-layer-container {
  @media screen and (max-width: map-get($breakpoints, medium)) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(calc(100% - 96px));
    transition: transform 0.3s ease-out;

    .c-button {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.8px;
    }

    &.-displayed {
      transform: translateY(0);
    }
  }
}
