.c-layer-menu {
  position: absolute;
  top: $margin-size-small;
  left: 0;
  width: 100%;
  z-index: 9999999;

  // List
  .layer-menu-list {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      position: relative;
      margin: 0;

      // NAME
      > .name {
        display: inline-block;
        text-transform: uppercase;
        color: $color-white;
        font-size: $font-size-small;
        padding: 14px;
        border-radius: 3px;
        border: 1px solid transparent;

        &:after {
          content: "";
          width: 0;
          height: 0;
        }
      }

      // DROPDOWN
      > .dropdown {
        opacity: 0;
        visibility: hidden;
      }

      &:hover {
        // DROPDOWN
        > .dropdown {
          opacity: 1;
          visibility: visible;
        }
      }

      &.-active {
        // NAME
        > .name {
          border-color: rgba($color-white, .2);
        }
      }
    }
  }
}
