.c-layer-card {
  position: absolute;
  top: 200px;
  left: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  max-width: 400px;
  max-height: calc(100% - 200px - 100px);
  border-radius: 4px;
  z-index: 999;
  overflow: auto;

  h3, h5 {
    color: $color-dark-pink;
  }

  h5 {
    margin: 0px;
  }

  &.-hidden {
    display: none;
  }

  .description {
    min-height: 55px;
    max-height: 120px;

    .description-text {
      max-height: 80px;
      overflow: auto;
    }

    .view-with-container {
      .view-with-label {
        margin-right: 10px;
        font-size: $font-size-small;
      }
      .layer-pill {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    .c-button {
      padding: 5px;
      height: 25px;
      transition: none;
    }
  }

  .widget-card {
    cursor: pointer;
    width: 100%;

    .c-we-chart {
      overflow: auto;
    }
  }

  .card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link_button {
      text-transform: uppercase;
      padding: 0px 5px 0px 5px;
    }
  }
}
