// LEGEND
.c-legend {

  width: 100%;

  &:last-child {
    border-bottom: 0;
  }
}

// LIST
.c-legend-list {
  margin: 0;
  padding: 0;
  max-width: 300px;
}

// ITEM
.c-legend-item {
  list-style: none;
  padding: 14px 0;

  .legend-item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  h3 {
    font-weight: 500;
    font-size: $font-size-default;
    color: $color-white;
    margin: 0;
    margin-bottom: 3px;

    &.-dark { color: $color-text-1; }

    .category {
      font-weight: 400;
      text-transform: capitalize;
      padding: 0 8px 0 0;
    }
  }
}
