@import 'mapbox-gl/dist/mapbox-gl.css';

.c-map {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;

  &.no-pointer-events {
    .overlays {
      pointer-events: none;
    }
  }

  &.-compare {
    position: unset;
    z-index: auto;
  }
}

.compare-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
