.c-vocabularies-form {

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .new-vocabulary-form {
    background: #FFF;
    padding: 0px 20px 0px 20px;
    border: 1px solid $border-color-1;
    position: relative;
    margin-bottom: 10px;

    > form > .button-bar {
      display: flex;
      justify-content: flex-end;
    }
  }
}
