.c-vocabulary-item {
  background: #FFF;
  padding: 20px 20px 70px 20px;
  margin: 0;
  border: 1px solid $border-color-1;
  position: relative;

  button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
