@import 'css/settings';

.c-energy-country-explorer {
    
    .country-section {
        padding-top: 12 * $space;
        background-color: $porcelain;

        .country-overview {
            margin-top: 6 * $space;
        }
    }

    .section {
        margin-top: 8 * $space;

    }

    .country-selector {
        min-width: 100%;
        min-height: 60px;

        .Select-value-label, .Select-placeholder, .Select-input {
            color: $dark-pink !important;
            font-size: 46px;
            font-weight: 300;
        }
    }

    .energy-profile-map {
        min-height: 300px;
        width: 100%;
    }
}