#addsearch-results-mid {
  width: auto;
  background: white;
}

#addsearch-results.addsearch-d {
  box-shadow: none;
  border: 0;
}

#addsearch-results .addsearch-result-item-sub h1 a {
  color: #C32D7B;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  padding-top: 0;
  padding-bottom: 0;
}

#addsearch-results .addsearch-result-item-sub p {
  color: #717171;
  font-family: Lato;
  font-size: 14px;
  line-height: 18px;
}

#addsearch-results .addsearch-result-item-sub p span {
  margin-top: 3px;
  font-size: 14px;
}

#addsearch-results .addsearch-result-item-sub {
  width: auto;
  height: auto;
  min-height: 0;

  border-top: 0;
  border-bottom: 0;

  background: transparent url() no-repeat 15px 50%;
  background-image: none !important;
}

#addsearch-results .addsearch-result-item-sub div {
  padding: 15px 30px;
  width: auto;
  height: auto;
  min-height: 0;
}

#addsearch-results .addsearch-result-item-container {
  background-image: none !important;
}

#addsearch-results-right {
  // display: none;
  width: 13px;
  margin-left: 761px;
}
#addsearch-pic {
  display: none !important;
}

#addsearch-fuzzy {
  width: auto;
}

#addsearch-fuzzy span {
  color: #717171;
  font-family: Lato;
  font-size: 12px;

  background: none;
  border-top: 1px solid rgba(26, 28, 34, 0.1);
  border-bottom: 1px solid rgba(26, 28, 34, 0.1);
}

#addsearch-results-bottom {
  border-top: 1px solid rgba(26, 28, 34, 0.1);
}

#addsearch-logo {
  display: none !important;
}
