.c-subscription-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    cursor: pointer;
  }

  .Select {
    width: 100%;
    margin-right: 20px;

    &.type-select {
      max-width: 160px;
    }
  }

  .threshold-div {
    display: flex;
    align-items: center;
    height: 42px;
    margin-right: 20px;
    padding-left: 5px;
    border: 1px solid $border-color-2;
    border-radius: 4px;
    min-width: 150px;

    .threshold-input {
      margin-bottom: 0px;

      input {
        border: none;
        height: 40px;
      }
    }
  }

}
