.c-subscription-selector {
  display: flex;
  align-items: center;

  button {
    cursor: pointer;
  }

  .col {
    margin: 0 20px 0 0;

    &.hidden {
      visibility: hidden;
    }

    h5 { margin: 0; }

    &--dataset {
      width: 340px;
    }
    &--type {
      width: 200px;
    }
    &--threshhold {
      width: 60px;
    }
  }

  .Select {
    width: 100%;
    margin-right: 20px;
    height: 45px;
  }

  .threshold-div {
    display: flex;
    align-items: center;
    height: 45px;
    margin-right: 20px;
    padding-left: 5px;
    border: 1px solid $border-color-2;
    border-radius: 4px;
    min-width: 150px;

    .threshold-label {
      min-width: 90px;
    }

    .threshold-input {
      margin-bottom: 0px;

      input {
        border: none;
        height: 40px;
      }
    }
  }

}
