.c-subscription-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    cursor: pointer;
  }

  .Select {
    width: 100%;
    margin-right: 20px;

    &:last-of-type {
      max-width: 160px;
    }
  }
}
