@import 'css/settings';

.c-explore-detail {
    .content {
        min-height: 100%;
        background-color: $color-12;

        .metadata-section {
            background-color: white;
            margin-bottom: 2 * $space;
            padding: 8 * $space 8 * $space 8 * $space 8 * $space;
            
            .overview {
                .title {
                    margin-top: $space * 4;
                }
                .source-date {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    .source {
                        max-width: 100px;
                        text-overflow: ellipsis;
                    }
                    
                }   
            }
        }
        h3 {
            margin-bottom: 5 * $space;
        }
        h4 {
            margin: 0px;
        }
    }
}