@import 'css/settings';

.c-explore-login {
  display: flex;
  flex-direction: column;
  margin: 0 ($space * 4) 0 ($space * 3);

  .card-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: ($space * 2) 0;
    text-align: center;

    > h4 {
      width: 180px;
    }

    > p {
      padding: 0 $space;
    }

    > button {
      width: 100px;
    }
  }
}
