/*
  This is the general layout of a widget:

  +----------------------------------+
  |      .widget-title (auto ↕)      |
  +----------------------------------+
  |                                  |
  |     .widget-content (grow ↕)     |
  |                                  |
  +----------------------------------+
  |     .widget-footer (auto ↕)      |
  +----------------------------------+

*/


.c-embed-widget {
  position: relative; // Limit the scope of the map and spinner

  // We use all the space available of the
  // iframe and prevent any scroll
  width: 100%;
  height: 100vh;
  overflow: hidden;

  // We share the vertical space between
  // the title and the widget
  display: flex;
  flex-direction: column;

  border-radius: 4px;

  .c-error-boundary {
    min-width: 100%;
    min-height: 100%;
  }

  .widget-title {
    position: relative;
    flex-shrink: 0;
    padding: $margin-size-extra-small;
    border-bottom: 1px solid $border-color-1;

    h1, h2, h3, h4 {
      display: inline-block;
      margin-bottom: 0;
      padding-right: 20px;
    }

    .buttons {
      position: absolute;
      top: #{$margin-size-extra-small + 4px};
      right: $margin-size-extra-small;
      margin: 0;
      padding: 0;

      ul li {
        display: inline-block;
      }

      button {
        cursor: pointer;
      }
    }
  }

  .widget-content {
    position: relative;
    display: flex; // Do not change this without testing (see comment on .c-map)
    align-items: stretch;
    flex-grow: 1;
    padding: $margin-size-extra-small;
    overflow: hidden;

    iframe {
      width: 100%;
    }

    .c-we-chart {
      height: auto; // Do not change this without testing (see comment on .c-map)
      display: flex;
      flex-direction: column;
      // In case of a bar chart with scrolling, we need
      // to use an overflow
      overflow-x: auto;
      max-width: 100%;

      .chart {
        height: 100%;

        .vega {
          height: 100%;

          canvas {
            display: block; // Prevent a UA margin
            margin: 0 auto;
          }
        }
      }
    }

    // .c-map {
    //   // Do not change the positionning of this
    //   // element without testing it on Chrome and Firefox
    //   // in the dashboards AND as a standalone widget
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;

    //   // Without this property, the legend is hidden behind
    //   // the map
    //   .leaflet-pane {
    //     z-index: 1;
    //   }
    // }

    .widget-modal {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: $margin-size-extra-small;
      z-index: 11;
      background-color: $white;
      overflow-x: hidden;
      overflow-y: auto;

      > div {
        margin-bottom: $margin-size-extra-small;
      }

      h4 {
        color: $body-font-color;
      }

      .widget-links-container {

        ul {
          list-style-type: circle;

          li {
            margin-left: 35px;

            a {
              color: $link-font-color;
            }
          }
        }
      }
    }
  }

  .widget-content-row {
    display: flex;
    justify-content: space-between;
  }

  .widget-footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 $margin-size-extra-small $margin-size-extra-small;

    &.-map {
      padding: $margin-size-extra-small;
    }

    .embed-logo {
      display: block;
      height: 21px;
      margin-left: 10px;
    }
  }

  .c-table {
    position: relative;
    min-height: 100px;

    table {
      display: block;
      width: 100%;
      font-size: $font-size-normal;

      thead, tbody, tr {
        display: block;
        width: 100%;
      }

      th, td {
        display: inline-block;
        width: calc(100% / 6);
      }
    }
  }

  &.-map {
    border: none;
  }
}
