.c-embed-widget {
  width: 100%;
  height: 100%;
  min-height: 150px;

  .widget-title {
    padding: $margin-size-extra-small;
    border-bottom: 1px solid $border-color-1;

    h1, h2, h3, h4, p {
      margin-bottom: 0;
    }
  }

  .widget-content {
    padding: $margin-size-extra-small;
  }

  // > div > .info { // Without that much specificity, we break the legend
  //   margin-top: 20px;

  //   .widget-title {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }

  //   .widget-description {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }

  //   a {
  //     text-decoration: none;
  //   }
  // }

  .visualization {
    position: relative; // Limit the scope of the map and spinner
  }

  .c-map {
    height: 300px;
    position: static;

    // Without this property, the legend is hidden behind
    // the map
    .leaflet-pane {
      z-index: 1;
    }
  }

  .c-chart {
    // The pie and bar chart will overflow without
    // this property because they auto determine the
    // space they need
    height: auto;
    // For the other charts, we need a minimum height
    // and to make the container "flex" so we force the
    // chart to use at least the min-height
    min-height: 300px;
    display: flex;
    flex-direction: column;
    // In case of a bar chart with scrolling, we need
    // to use an overflow
    overflow-x: auto;
    max-width: 100%;

    .chart {
      // For smaller charts than the 300px, we center them
      // both vertically and horizontally
      display: flex;
      flex-direction: column;
      justify-content: center;

      // This is needed for the scatter and 1d_* charts
      // in order to take the whole 300px vertically
      flex-basis: 100%;
      flex-grow: 1;

      .vega {
        text-align: center;
        height: 300px;
      }
    }
  }
}
