.c-embed-layer {
  display: flex;
  flex-direction: column;
  width: 100%;
  // Be careful in iOS devices with the vh
  height: 100vh;

  .container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    .info {
      flex: 0;
      bottom: 0px;
      width: 100%;
      padding: $space-1 * 4;

      .layer-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 $space-1;

        h2 {
          margin: 0;
        }
      }

      .layer-description {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        text-decoration: none;
      }
    }

    .map-container {
      display: flex;
      flex-direction: column;
      flex: 1;
      position: relative;
    }

    // MAP CONTAINER
    // .c-map {
    //   display: block;
    //   position: relative;
    // }

    .c-legend-map {
      position: absolute;
      right: $space-1 * 2;
      bottom: $space-1 * 3;
    }
  }
}
