.c-embed-layer {
  display: flex;
  flex-direction: column;
  width: 100%;
  // Be careful in iOS devices with the vh
  height: 100vh;

  .container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    > .info {
      flex: 0;
      bottom: 0px;
      width: 100%;
      padding: $space-1 * 4;

      .layer-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 $space-1;

        h2 {
          margin: 0;
        }
      }

      .layer-description {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        text-decoration: none;
      }
    }

    .map-container {
      width: 100%;
      height: 100%;
      position: relative;
    }

    // MAP CONTAINER
    // .c-map {
    //   display: block;
    //   position: relative;
    // }

    .c-legend-map {
      position: absolute;
      right: $space-1 * 2;
      bottom: $space-1 * 3;
    }
  }
}

// FIXME: This style is out of the scope of the component
// but it applies only to the embed page
.embed-layer-page {
  // The tooltip is on the side of the screen so we need
  // to reduce its width to avoid it to be cut
  .c-tooltip {
    max-width: 160px;
  }
}
