.c-topics-thumbnail-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  .thumbnail-list-item {
    position: relative;
    height: 200px;
    border-radius: 4px;
    background-color: $color-dark-grey;
    background-size: cover;
    background-position: center center;
    outline: none;
    padding: 0;
    transition: all $animation-time-2 $ease-in-out-sine;

    &:nth-of-type(6n) {
      margin-right: 0;
    }

    // The input is just here for an accessibility matter
    // we don't want it to be visually present
    input[type="radio"] {
      position: absolute;
      top: 0;
      left: -10000px;

      &:focus + .content {
        border: 1px solid $color-primary;
      }
    }

    .content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      padding: 15px 20px;
      font-size: $font-size-extra-big;
      font-weight: $font-weight-bold;
      color: $color-white;
      border-radius: 4px;
      border: 1px solid transparent;
      cursor: pointer;
    }

    &:hover {
      box-shadow: 0 20px 30px rgba($black, .2);
      transform: translateY(-4px);
      transition: all $animation-time-2 $ease-in-out-sine;
      cursor: pointer;
    }

    &.-active {
      box-shadow: none;

      .content {
        cursor: auto;
      }
    }

    &.-toggle {
      background-color: $color-white;
      box-shadow: 0 0 0 1px $color-primary;

      .content {
        color: $color-primary;
      }

      &:hover {
        background-color: white;
        box-shadow: 0 0 0 1px $color-primary;

        .content {
          background-color: rgba($color-primary, .25);
        }
      }
    }
  }
}
