@import 'css/settings';

.c-explore-my-data-coming-soon {
  > .card-coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: ($space * 2) 0;
    text-align: center;

    > h4 {
      width: 180px;
    }

    > p {
      padding: 0 $space;
    }

    > button {
      width: 100px;
    }
  }
}
