.c-subscription-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 300px;
  min-height: 120px;
  width: 100%;
  padding: 10px;
  border: 1px solid $color-grey;
  border-radius: 4px;

  h4, h5 {
    margin: 0px;
  }

  .name-container {
    margin-bottom: 10px;
  }

  .data-container {
    display: flex;
    flex-direction: column;

    .location-container {
      display: flex;
      align-items: center;

      h5 {
        margin-right: 20px;
      }
    }

    .dataset-container {
      display: flex;
      align-items: baseline;

      h5 {
        margin-right: 23px;
      }
    }
  }

  .actions-div {
    display: flex;
    justify-content: flex-end;

    a {
      color: $color-dark-pink;
      cursor: pointer;
    }
  }
}
