.c-subscription-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;

  h4, h5 {
    margin: 0px;
  }

  .border-container {
    border: 1px solid $color-grey;

    .map-container {
      position: relative;
      width: 100%;
      height: 200px;
    }

    .text-container {
      padding: 15px;

      .name-container {
        margin-bottom: 10px;
        min-height: 20px;
      }

      .data-container {
        display: flex;
        flex-direction: column;

        .location-container {
          display: flex;
          align-items: center;

          h5 {
            margin-right: 20px;
          }
        }

        .dataset-container {
          display: flex;
          align-items: baseline;

          h5 {
            margin-right: 23px;
          }
        }

        .type-container {
          display: flex;
          align-items: baseline;

          h5 {
            margin-right: 43px;
          }
        }
      }

      .actions-div {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 0px;

        .pending-label {
          color: $color-blue-turquoise;
        }

        a {
          color: $color-dark-pink;
          cursor: pointer;
        }
      }
    }
  }
}
