// TO-DO: replace with components/map/popup/styles once Leaflet is gone
.c-map-popup {
  width: 100%;
  max-width: 250px;

  .popup-header {
    border-bottom: 1px solid $light-grey;

    .popup-header-select {
      width: calc(100% - #{$space * 9});
      height: 46px;
      border: none;
      outline: none;
      font-weight: $font-weight-bold;
    }
  }

  .popup-content {
    padding: 20px;
    max-height: 290px;

    overflow-y: auto;

    font-family: $body-font-family;
    font-size: $font-size-small;
    color: $charcoal-grey;
  }

  .popup-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-table {
    width: inherit;

    .dt {
      padding: 2px;
      font-weight: $font-weight-bold;
      vertical-align: baseline;
    }

    .dd {
      width: 60%; // Make sure data in tooltip always have 60% of the free space
      padding: 0 0 0 10px;
      vertical-align: baseline;
    }
  }
}

/* Override popup */
.leaflet-popup {
  position: absolute;
  text-align: center;
  margin-bottom: 20px;
}

.leaflet-popup-content-wrapper,
.mapboxgl-popup-content {
  padding: 0px;
  text-align: left;
  border-radius: 0;
}

.leaflet-popup-content,
.mapboxgl-popup-content {
  margin: 0;
  line-height: 1.4;
  min-height: 46px;
}

.leaflet-popup-content p,
.mapboxgl-popup-content p {
  margin: 18px 0;
}

.leaflet-popup-tip-container {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  overflow: hidden;
  pointer-events: none;
}

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  color: #333;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.leaflet-container a.leaflet-popup-close-button,
.mapboxgl-popup-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: none;
  border-left: 1px solid #CCC;
  text-align: center;
  width: 46px;
  height: 46px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: $color-primary;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter:  "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}
