$map-search-border-color: $border-color-2 #d1d1d1 #dadada;

.c-map-search-control {
  position: relative;

  .geosuggest {
    position: absolute;
    right: 28px;
    top: -1px;
    height: 100%;

    &__input-wrapper {
      overflow: hidden;
    }

    &__input {
      width: 200px;
      height: 32px;
      padding-left: 10px;
      border-color: $map-search-border-color;
      border-style: solid;
      border-width: 1px;
      border-top-width: 2px;
      border-right: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      color: $charcoal-grey;
      outline: none;
      transform: translateX(200px);
      transition: transform $animation-time $ease-in-out-cubic;
    }

    &__suggests {
      position: relative;
      top: -3px;
      background-color: $white;
      border-style: solid;
      border-width: 1px;
      border-color: $map-search-border-color;
      border-top: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      &--hidden {
        display: none;
      }
    }

    &__item {
      padding-left: 10px;
      cursor: pointer;

      &__matched-text {
        color: $color-primary;
      }

      &:hover,
      &--active {
        background-color: darken($color-white, 5%);
      }
    }
  }

  button {
    z-index: 2;
  }

  &.-show-input {
    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .geosuggest {
      &__input {
        transform: translateX(0);
      }
    }
  }
}
