@use "sass:math";

@mixin drawMarker($important : '', $margins : 'false', $width: 10) {

  @if $margins == 'true' {
    margin-left: -#{math.div($width, 2)}px$important;
    margin-top: -#{math.div($width, 2)}px$important;
  }

  width: #{$width}px$important;
  height: #{$width}px$important;
  border: none$important;
  border-radius: 50%$important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5)$important;
}

.c-map-legacy {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &.-fullWidth {
    width: 100%;
  }

  .map-leaflet {
    width: 100%;
    height: 100%;
    background: $black;
  }

  .leaflet-right .leaflet-control {
    margin-top: 24px !important;
    margin-right: 30px !important;
    border: none;
    box-shadow: 0 0 0 1px rgba($black, 0.1), 0 1px 2px rgba($black, 0.1);;

    .c-embed-widget & {
      margin-right: $margin-size-extra-small !important;
    }
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    width: 30px;
    height: 30px;
    font-size: 17px !important;
    background-color: $white;

    &:hover {
      width: 30px;
      height: 30px;
      background-color: mix($dark-pink, $white, 5%);
    }
  }

  .leaflet-control-attribution {
    padding: 5px 8px;
    background-color: rgba($white, .1);
    border-radius: 2px 2px 0 0;
    color: $white;
    font: $body-font-family;
    font-size: $font-size-extra-small;

    a {
      color: $white;
      text-decoration: underline;
    }
  }

  &__draw {
   &--icon {
    @include drawMarker()
   }
  }
}

// Class to define marker icon path
.leaflet-default-icon-path {
  background-image: url("https://unpkg.com/leaflet@1.1.0/dist/images/marker-icon.png");
}

// Bug in leaflet, when editing the markers get reset, this forces our styles to apply to the edit marker
.leaflet-div-icon.leaflet-editing-icon {
  @include drawMarker(!important, 'true')

}

