.c-map {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &.-fullWidth {
    width: 100%;
  }

  .map-leaflet {
    width: 100%;
    height: 100%;
    background: $color-black;
  }

  .leaflet-right .leaflet-control {
    margin-top: $fullscreen-margin !important;
    margin-right: 30px !important;
    border-width: 1px;
    border-color: $border-color-2;

    .c-embed-widget & {
      margin-right: $margin-size-extra-small !important;
    }
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    width: 30px;
    height: 30px;
    font-size: 17px !important;
    background-color: $color-white;

    &:hover {
      width: 30px;
      height: 30px;
      background-color: mix($color-primary, $color-white, 5%);
    }
  }

  .leaflet-control-attribution {
    padding: 5px 8px;
    background-color: rgba($color-white, .1);
    border-radius: 2px 2px 0 0;
    color: $color-white;
    font: $body-font-family;
    font-size: $font-size-extra-small;

    a {
      color: $color-white;
      text-decoration: underline;
    }
  }
}

// Class to define marker icon path
.leaflet-default-icon-path {
  background-image: url("https://unpkg.com/leaflet@1.1.0/dist/images/marker-icon.png");
}
