.c-field-container {
  // max-width: 800px;
  margin: 0 auto;
  border: none;
  padding: 50px 0;
  border-top: 1px solid $border-color-1;

  &:first-of-type {
    padding-top: 0;
    border-top: none;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  > * {
    margin: 24px 0 0;
    &:first-child {
      margin: 0;
    }
  }

  &.-expanded {
    max-width: none;
  }

  &.-padding {
    margin: 24px auto 0;
    padding: 50px 0;
    border-top: 1px solid $border-color-1;
  }

  &.-fluid {
    max-width: none;
  }
}


.c-field-row {
  margin: 0;

  .c-field {
    margin: $space-1 * 3 0 0;
  }
}
