.c-field {
  .label {
    font-size: $font-size-small-medium;
    display: block;
    position: relative;
    padding: 0 0 5px;
    color: $color-text-1;
    background: none;
    font-weight: 700;
  }

  .hint {
    font-style: italic;
    padding: 0 0 5px;
    font-size: 12px;
    margin: 0;
  }

  .error {
    color: $color-red;
    margin: 3px 0 0;
    font-size: 12px;
  }

  > input,
  > textarea,
  > select, {
    display: inline-block;
    border: 1px solid $border-color-1;
    box-shadow: none;
    outline: none;
    font-size: $font-size-big;
    padding: 12px;
    width: 100%;
    max-width: 400px;
    font-family: inherit;
    color: $color-text-1;
    margin: 0;
    border-radius: 4px;

    &:hover {
      border-color: $border-color-2;
    }
  }

  /**
   * STATES
   * -fluid
   * -valid
   * -error
  */
  &.-fluid {
    > input,
    > textarea,
    > select,
    .Select {
      max-width: none;
    }
  }

  &.-disabled {
    > input,
    > textarea,
    > select,
    .Select {
      background: $color-tertiary;
    }
  }

  &.-valid {
    > input,
    > textarea,
    > select,
    .Select-control {
      border-color: $color-green;
    }
  }

  &.-error {
    > input,
    > textarea,
    > select,
    .Select-control {
      border-color: $color-red;
    }
  }
}
