.c-file {
  .file-dropzone {
    position: relative;
  }

  .file-button {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translate(0,-50%);

    &:hover {
      transform: translate(0,-50%);
    }
  }
}
