.c-file-image {
  .file-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 120px;
    border: 2px dashed $border-color-2;
    cursor: pointer;

    &:hover {
      border: 2px dashed $color-black;
    }
  }

  .file-preview {
    position: relative;
    display: inline-block;

    .file-image {
      max-width: 100%;
      box-shadow: 0 1px 3px rgba(0,0,0,.25);
    }

    .file-button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%,-50%);
      padding: 4px;
      border-radius: 50%;
      background: $color-error;
      fill: $color-white;

      &:hover {
        background: darken($color-error, 5%);
      }
    }
  }
}
