@use "sass:math";

.toggle-search {

  .c-field-search {
    background-color: $white;
    border-radius: 4px;
    position: relative;
  }

  input {
    display: inline-block;
    padding: math.div($margin-size-extra-small, 2) $margin-size-extra-small;
    padding-right: 25px;
    margin: 0;
    width: 95px;

    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans;
    font-size: $font-size-normal;
    color: $charcoal-grey;

    background: none;

    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
  }

  &.-open input {
    width: auto;
    border: 1px solid $border-color-2;
  }

  .c-icon  {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    fill: $charcoal-grey;
  }
}
