$this: 'c-interactions';

.#{$this} {
  display: block;

  &__field {
    position: relative;

    &--custom {
      background: #f9f9f9;
      padding-top: 60px;
    }

  }

  &__warning {
    position: absolute;
    padding: 7px 10px;
    top: 0;
    left: 0;

    color: #FFF;

    background: #ffaa00;
    width: 100%;

    strong {
      padding: 0 0 5px 0;

      font-size: 14px;
      font-weight: 600;
    }
  }

}