@import 'css/settings';

.c-storytelling-step {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  padding: 240px 0 150px;
  background: linear-gradient(180deg, rgba(15,69,115,0) 0%, rgba(15, 69, 115, 0.7) 16.33%, rgba(15, 69, 115, 0.85) 79.68%, rgba(15,69,115,0) 100%);

  > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: all;

    color: $white;

    .story-title {
      font-size: $font-size-h1;
      color: $white;
      text-align: center;
    }

    .story-subtitle {
      font-size: 18px;
      color: $white;
      font-weight: $font-weight-regular;
    }

    .story-intro {
      display: flex;
      justify-content: center;
      margin: ($space * 10) 0 0;

      > p {
        max-width: 450px;
        text-align: center;
      }
    }

    .widget-value {
      font-size: 80px;
      font-weight: $font-weight-light;
    }

    .sections-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 ($space * 8);

      > .btn-section {
        position: relative;
        padding: 0 $space ($space * 2);
        font-size: $font-size-medium;
        cursor: pointer;
        color: $white;

        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 5px;
          transform: translate(0, 3px);
          background: transparent;
        }

        &:not(:first-child) {
          margin: 0 0 0 ($space * 10);
        }

        &.-active  {
          &:after {
            background: $white;
          }
        }
      }
    }
  }

  &.-is-placeholder {
    background: none;
    padding: 0;

    > .content {
      background: none;
      pointer-events: none;
    }
  }
}
