@import 'css/settings';

.c-explore-menu {
  min-width: 200px;
  max-width: 200px;
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;

  .c-dataset-search {
    position: absolute;
    z-index: 999;
    background-color: $white;
    width: 100%;
    padding: (2 * $space) 0 (2 * $space) (2 * $space);
  }

  .menu-options {
    margin-top: (14 * $space);

    > .menu-option {
      position: relative;
      display: flex;
      align-items: center;
      height: 45px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
      }

      svg {
        width: 25px;
        height: 25px;
        margin: 0 (4 * $space);
      }

      .section-name,
      .collection-name {
        margin-left: (5 * $space);
      }

      &.-active {
        background-color: rgba($sea-blue, .05);

        &:before {
          background: $sea-blue;
        }
      }
    }
  }

  hr {
    margin: (2 * $space) (5 * $space) (2 * $space) (5 * $space);
  }

  &.-hidden {
    display: none;
  }
}
