.c-area-subscription-modal {

  .datasets-container {
    .c-subscription-selector {
      margin-bottom: 10px;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;

    button:last-of-type {
      margin-left: 10px;
    }
  }
}
