.c-area-subscription-modal {

  .new-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .datasets-container {
    margin-top: 20px;

    .c-subscription-selector {
      margin-bottom: 10px;
    }
  }

  .threshold-input {
    margin: 0;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;

    button:last-of-type {
      margin-left: 10px;
    }
  }
}
