.c-save-widget-modal {

  .c-field-container {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  h1 {
    color: $color-dark-pink;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .buttons-container {

    button {
      width: 120px;
      &:first-child {
        margin-right: 20px;
      }
    }
  }

  .buttons-widget-saved {

    button {
      width: 180px;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
