.c-save-widget-modal {

  .c-field-container {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  h1 {
    color: $color-dark-pink;
  }

  .buttons-container {

    button {
      width: 120px;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
