.c-save-widget-modal {

  .c-field-container {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  h1 {
    color: $color-dark-pink;
  }

  .error-container {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    width: 100%;
    background-color: rgba(250,183,46,0.2);
    border-radius: 4px;

    div {
      margin-right: 10px;
      color: $color-white;
      background-color: $color-mango;
      border-radius: 4px;
      padding: 5px;
    }
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .buttons-container {

    button {
      width: 120px;
      &:first-child {
        margin-right: 20px;
      }
    }
  }

  .buttons-widget-saved {

    button {
      width: 180px;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
