.splash-detail-modal {
  display: flex;
  width: 550px;
  background-color: $dark-pink;
  color: $white;
  border-radius: 4px;

  .content {
    padding: 50px;

    .buttons {
      display: flex;
      justify-content: center;

      button {
        width: 135px;

        &:hover {
          color: $white;
          border-color: $white;
        }
      }
    }

    a {
      color: $white;
      text-decoration: underline;
    }
  }
}
