.c-subscriptions-modal {

  h2,
  h3 {
    color: $color-dark-pink;
  }

  .separator {
    width: 100%;
    height: 1px;
    margin: $margin-size-small 0;
    background: $border-color-2;
  }

  .custom-select-options {
    max-height: 150px;
  }

  .selectors-container {
    display: flex;
    margin-top: 20px;

    .c-field {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-bottom: 0;

      &:first-child {
        min-width: 340px;
      }

      &:nth-child(2) {
        min-width: 230px;
      }
    }

    .threshold-div {
      display: flex;
      align-items: center;
      height: 44px;
      padding-left: 5px;
      border: 1px solid $border-color-2;
      border-radius: 4px;
      min-width: 180px;

      .threshold-label {
        min-width: 90px;
      }

      .threshold-input {
        margin-bottom: 0px;

        input {
          border: none;
          height: 40px;
        }
      }
    }
  }

  .upload-form {

    .info {
      margin-top: 20px;
      border-radius: 4px;
      max-height: 120px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .icon-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .subscription-btn-container {
    margin: $margin-size-small 0 0;
  }

  .buttons {
    justify-content: flex-start;
  }

  //preview option

  .preview-data {
    display: flex;
    justify-content: space-between;
  }
  .c-btn {
    margin-left: 10px;

    &:first-child{
      margin-left: 0;
    }
  }
}
