.c-subscribe-to-dataset-modal {

  h2 {
    color: $color-dark-pink;
  }

  .custom-select-options {
    max-height: 150px;
  }

  .selectors-container {
    display: flex;
    margin-top: 20px;

    .c-field {
      width: 100%;

      &:not(:first-of-type) {
        margin-right: 10px;
      }
    }

    .threshold-div {
      display: flex;
      align-items: center;
      height: 44px;
      padding-left: 5px;
      border: 1px solid $border-color-2;
      border-radius: 4px;
      min-width: 180px;

      .threshold-label {
        min-width: 90px;
      }

      .threshold-input {
        margin-bottom: 0px;

        input {
          border: none;
          height: 40px;
        }
      }
    }
  }

  .upload-form {

    .info {
      margin-top: 20px;
      border-radius: 4px;
      max-height: 120px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .icon-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .buttons {
    justify-content: flex-start;

    button:last-of-type {
      margin-left: 10px;
    }
  }

}
