.c-subscribe-to-dataset-modal {

  h2 {
    color: $color-dark-pink;
  }

  .custom-select-options {
    max-height: 150px;
  }

  .selectors-container {
    display: flex;
    margin-top: 20px;

    .c-field {
      width: 100%;

      &:last-of-type {
        margin-left: 10px;
      }
    }
  }

  .upload-form {

    .info {
      margin-top: 20px;
      border-radius: 4px;
      max-height: 120px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .icon-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .buttons {
    justify-content: flex-start;

    button:last-of-type {
      margin-left: 10px;
    }
  }

}
