.c-subscribe-to-dataset-modal {

  h2 {
    color: $color-dark-pink;
  }

  .custom-select-options {
    max-height: 200px;
  }

  .name-container {
    margin-top: 10px;

    input {
      width: 100%;
      height: 45px;
    }

    h5 {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }

  .selectors-container {
    display: flex;
    margin-top: 20px;

    .c-field {
      width: 100%;

      &:last-of-type {
        margin-left: 10px;
      }
    }
  }

  .upload-form {
    border: 1px solid $border-color-2;
    border-radius: 4px;
    padding: $margin-size-small;

    h2 {
      font-size: $font-size-h3;
    }

    .c-dropzone {
      margin-bottom: 0;
    }
  }

  .icon-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .buttons {
    justify-content: flex-start;

    button:last-of-type {
      margin-left: 10px;
    }
  }

}
