@import 'css/settings';

.c-share-modal {
  .share-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      flex-direction: row;
      align-items: center;
      padding: 0 15px;
      border: 1px solid $border-color-1;
      border-radius: 4px;

      > * {
        margin: 0 0 0 10px;

        &:first-child { margin: 0 }
      }
    }

    .share-input {
      flex-grow: 1;
      overflow: hidden;
      width: 100%;
      height: 45px;
      padding: 0 15px;
      margin-bottom: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      border: 1px solid $border-color-1;
      border-radius: 4px;

      @media screen and (min-width: map-get($breakpoints, medium)) {
        border: 0;
        margin-bottom: 0;
        padding: 0;
      }
    }

    .share-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > * {
        margin: 0 0 0 $space-1;

        &:first-child { margin: 0 }
      }
    }
  }
}
