@import 'css/settings';

// TO-DO: make responsive for real
.c-dashboard-thumbnail-list {
  display: flex;
  flex-wrap: wrap;

  > li {
    position: relative;
    margin: 0 20px 20px 0;
    flex-basis: calc((100% - 5 * 20px) / 6);
    height: 135px;
    border-radius: 4px;
    background-color: $color-dark-grey;
    background-size: cover;
    background-position: center center;
    outline: none;

    &:nth-of-type(6n) {
      margin-right: 0;
    }

    > a {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      padding: 15px 20px;
      border: 1px solid transparent;
      border-radius: 4px;

      > span {
        font-size: $font-size-extra-big;
        font-weight: $font-weight-bold;
        line-height: 1.2;
        color: $color-white;
      }

      &:hover {
        background-color: rgba($color-secondary, .25);
        box-shadow: 0 0 0 1px $color-secondary;
        text-decoration: none;
      }
    }
  }
}
